{% extends 'base.html.twig' %}
{% block headerhome %}
    {{ parent() }}
{% endblock %}



  {% block top_menu %}
      {{ parent() }}
  {% endblock %}
    {% block main_menu %}
        {{ parent() }}
    {% endblock %}

    {% block body %}
        <div class="container err404">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 errorPage">
                    <div class="text-center err-img"><img src="{{ asset("error/404.png") }}" /></div>
                    <h2 class="text-center">
                    {{ 'Sorry! The page your requesting is not available'|trans }}
                    </h2>



                </div>
            </div>
        </div>
    {% endblock %}

{% block copyrightfooter %}

    {{ parent() }}

{% endblock %}
















