{% extends '::baseadmin.html.twig' %}


{% block body %}
    <div class="row">


        <div class="col-lg-12  col-md-12 col-sm-12 ">

            <div class="cmsForm">

            {{ message }}
            </div>
            {{ form_start(form) }}


            <div class="cmsForm">
                {{ form_label(form.page_title) }}
                {{ form_errors(form.page_title) }}
                {{ form_widget(form.page_title) }}
            </div>





            <div class="cmsForm">
                {{ form_label(form.page_content) }}
                {{ form_errors(form.page_content) }}
                {{ form_widget(form.page_content) }}
            </div>


            <div class="cmsForm">
                {{ form_label(form.country) }}
                {{ form_errors(form.country) }}
                {{ form_widget(form.country) }}
            </div>
            <div class="cmsForm">
                {{ form_label(form.language) }}
                {{ form_errors(form.language) }}
                {{ form_widget(form.language) }}
            </div>



            <div class="cmsForm">
                {{ form_label(form.status) }}

                {{ form_widget(form.status) }}
            </div>
            <div class="cmsForm col-lg-8">
                {{ form_label(form.brochure) }}
                {{ form_errors(form.brochure) }}
                {{ form_widget(form.brochure) }}
            </div>


            <div class="cmsFormSaveBtn">
                {{ form_label(form.save) }}

                {{ form_widget(form.save) }}
            </div>
            <div class="claerfix"></div>
            {{ form_end(form ,{'render_rest': false}) }}
        </div>
    </div>
{% endblock %}

