{% extends 'base.html.twig' %}

{% block body %}





    <section class="container breadcrum-wrapper">
        <div class="row">
            <div class="breadcrumb">
                <a  class="in-active-link" href="{{ path('homepage', {'_country': app.request.get('_country'), '_locale':app.request.get('_locale') }) }}">{{ 'Home'|trans }}</a>

                <span class="breadcrumb-separator"><i class="fa fa-angle-{{ side }}" aria-hidden="true"></i></span>
                {% if Data != "" %}


                        {% if app.request.getLocale() == 'en' %}
                            <a href="#" class="last-breadcrumb">{{ Data.Etitle  }} </a>
                        {% else %}

                            <a href="#" class="last-breadcrumb">{{ Data.Atitle  }} </a>
                        {% endif %}
                {% else %}
                    <a href="#" class="last-breadcrumb">

                        اكتساب


                    </a>
                {% endif %}

            </div>
        </div>
    </section>
<section class="container">
    <div class="row">
        <div class="col-lg-12  col-md-12  col-sm-12  col-xs-12 login-list-message-wrapper">
            {% if message != '' %}
                <div class="alert-success-forms formMessage alert {{ errorcl }} fade in alert-dismissable">
                    {{ message }}
                </div>
            {% endif %}
        </div>
    </div>
</section>


            {% if Data != "" %}


                {% if app.request.getLocale() == 'en' %}
                {{   Data.Edesc| raw  }}
                   {% else %}
                {{   Data.Adesc| raw  }}
                   {% endif %}

            {% endif %}







{% endblock %}