<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block topmenu %}
    {% if app.user %}
        <a href="{{ path('account_logout', {'_country': app.request.get('_country'), '_locale':app.request.get('_locale') }) }}">
            Logout </a> |
        <a href="{{ path('account_home', {'_country': app.request.get('_country'), '_locale':app.request.get('_locale') }) }}"> Dashboard</a>

    {% else %}
         <a href="{{ path('login', {'_country': app.request.get('_country'), '_locale':app.request.get('_locale') }) }}">
            Login </a> |
        <a href="{{ path('front_card_activation', {'_country': app.request.get('_country'), '_locale':app.request.get('_locale') }) }}">
            Card Activation </a>
    {% endif %}


{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
