<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/admin.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}"/>

    {% endblock %}
    {% block javascripts %}

        <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/validation.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.validate.js') }}"></script>
        <script type="text/javascript" src="{{ asset("bundles/boekkooijqueryvalidation/additional-methods.js") }}"></script>

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
    <div class="main-container" id="main-container" >
        <div class="container-fluid">
             <div class="container header-top-section" style="border:5px solid #008b40; background-color: #fcfcfc">
                 <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <div class="Header-area">Iktissab Admin Panel</div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="login-area">
                                <a href="{{ app.request.getBaseURL()  }}/admin/loogout">logout</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                 </div>
             </div>
             <div class="clearfix"></div>
        </div>

        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 left-sidebar">

                        <!--<div class="links"><a href="{{path('cmslistall')}}">Manage Content Pages</a></div>-->

                        <div class="links"><a href="{{ app.request.getBaseURL()  }}/admin/settingslist">Manage Email Settings</a></div>
                        <div class="links"><a href="{{path('admin_formdisplaysettings')}}">Form Settings</a></div>
                        <div class="links"><a href="{{path('admin_users')}}">Manage Users</a></div>
                        <div class="links"><a href="{{path('newslistall')}}">Manage News</a></div>
                        <div class="links"><a href="{{path('admin_activitylogs')}}">User Activity Log</a></div>
                        <div class="links"><a href="{{path('regsettings')}}">Enable/Disable Email Verification</a></div>
                        <div class="links"><a href="{{path('allowexistinguser')}}">Enabling Existing Users for email verifcation</a></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 middle-contents">
                        {% block body %}{% endblock %}
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                 </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="container-fluid"  >
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="container header-footer-section" style="margin-top:30px;">
                       <div class="footer">

                           All Rights Reserved to Abdullah AlOthaim Markets Company @ {{ "now"|date("Y") }}
                       </div>
                </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="claerfix"></div>
    </div>
</body>
{% block javascripts2 %}{% endblock %}
</html>
