<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/admin.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}"/>

    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/validation.js') }}"></script>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
    <div class="main-container" id="main-container" >
        <div class="container-fluid">
             <div class="container header-top-section" style="border:1px solid;">
                 <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <div class="Header-area">Iktissab Admin Panel</div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="login-area"> login area</div>
                        </div>
                        <div class="clearfix"></div>
                 </div>
             </div>
             <div class="clearfix"></div>
        </div>

        <div class="container-fluid">
            <div class="container">
                <div class="row">

                    <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-8 middle-contents">
                        {% block body %}{% endblock %}
                    </div>
                    <div class="clearfix"></div>
                 </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="container-fluid"  >
            <div class="container header-footer-section">
               <div class="footer"> All Rights Reserved to Abdullah AlOthaim Markets Company @ 2017</div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</body>
</html>
