{% extends "/email-templates/email-base-customers.email.twig" %}
{% block emailbody %}
    <table align="center" class="bgItem" border="0" cellpadding="0" cellspacing="0" valign="top" width="100%"
           style="background: #ffffff; border:1px solid #4e4e4e">
        <tbody>
        <tr>
            <td align="right" valign="top">
                <img alt="Iktissab" src="https://ci6.googleusercontent.com/proxy/JxQ2JMDCn1WhfgZCMQ1Q2lqgDgz7DdNyJ638Wq3tSxv_i6a-GVtu33DBOkxuwG1MJ1p3qH1DUVF7mSijm12fSvi27Y4hlDUQN43RHD7pl-yAuOJvy1J0IsDwbyCxjHNplf4=s0-d-e1-ft#http://www.othaimmarkets.com/iktissab/themes/iktissab/images/mail/header.png" class="CToWUd" width="100%">
            </td>
        </tr>
        <tr>
            <td align="right" valign="top">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td align="right" valign="top">
                <div  >
                    <div style="padding-left:20px; padding-right:20px;">

                        <p style="color: #555555;font-size: 20px;line-height: 30px;margin: 0;">
                            {{ 'To change your password click here'|trans }}
                        <div style="color: #555555;font-size: 20px;line-height: 30px;margin: 0;">
                            {{ 'link'|trans }} : <a href="{{ link }}">{{ link }}</a>
                        </div>
                        </p>

                        <div style="color: #555555;font-size: 20px;line-height: 30px;margin: 0;">
                           <a href=""></a>
                        </div>
                        <div style="color: #555555;font-size: 20px;line-height: 30px;margin: 0;">
                            {{ 'forgot password template 2'|trans}}
                        </div>
                        <div style="color: #555555;font-size: 20px;line-height: 30px;margin: 0;">
                            {{ 'forgot password template 3'|trans}}
                        </div>
                        <div style="color: #555555;font-size: 20px;line-height: 30px;margin: 0;">
                            {{ 'forgot password template 4'|trans}}
                        </div>
                        <div style="color: #555555;font-size: 20px;line-height: 30px;margin: 0;">
                            <br>
                            {{ 'forgot password template 5'|trans}}
                        </div>
                        <div style="color: #555555;font-size: 20px;line-height: 30px;margin: 0;">
                            <br>
                            {{ 'forgot password template 6'|trans}}
                        </div>


                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>

        <tr><td style="background-color:#008544;color:#ffffff;height:50px;text-align:center;font-size: 16px;" colspan="2">

                {{ 'Copy rights'|trans }}

            </td></tr>



        </tbody>
    </table>
{% endblock %}