{% extends 'base.html.twig' %}

{% block body %}
<section class="container">
    <div class="row">

                <div class="login-list-title-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div><h1>{{ 'FAQs'|trans}}</h1></div>
                </div>


            <div class="alert-success-forms formMessage alert alert-success fade in alert-dismissable ">
                {{ message }}
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                {{ form(form1) }}
                {{ form_row(form1.email) }}
                {{ form_row(form1.mobile) }}
                {{ form_row(form1.captchaCode) }}
                {{ form_end(form1) }}

            </div>
        </div>
    </section>

    {% endblock %}
    {% block javascripts %}


        <script type="text/javascript" src="{{ asset("default/js/jquery.validate.defaults.js") }}"></script>
        <script type="text/javascript" src="{{ asset("bundles/boekkooijqueryvalidation/additional-methods.js") }}"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                {{ form_jquery_validation(form1) }}
            });
        </script>


</div>
{% endblock %}