{% extends 'base.html.twig' %}
{% set title =  'Inquiries and Suggestions'|trans   %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div>
                {{ 'Inquiries and Suggestions'|trans}}
            </div>
            <div>
                {{ 'If you have any questions, suggestion, inquiry or complaint, please fill in the following form and submit. We will take actions as soon as possible'|trans}}
                {{ 'Before sending the form,please read our'|trans }} <a href="{{ path('homepage',{'_country': 'sa', '_locale':'en'}) }}">{{ 'FAQs'|trans }}</a>
            </div>

            <div class="">
                {{ message }}
            </div>
            <div>


                {{ form(form1, { 'attr': {'autocomplete': 'off'} }) }}

                {{ form_row(form1.fullName) }}



                {{ form_row(form1.job) }}
                {{ form_row(form1.mobile) }}
                {{ form_row(form1.email) }}
                {{ form_row(form1.captchaCode) }}

                {{ form_end(form1) }}

            </div>
        </div>
    </div>

    {% endblock %}
    {% block javascripts %}
        <script type="text/javascript">
            $(document).ready(function () {
                {{ form_jquery_validation(form1) }}
            });
        </script>


</div>
{% endblock %}