{% extends 'base.html.twig' %}
{% set title =  'Iktissab password Recovery'|trans   %}
{% block body %}
    <div class="container breadcrum-wrapper">
        <div class="row">
            <div class="breadcrumb">
                <a  class="in-active-link" href="{{ path('homepage', {'_country': app.request.get('_country'), '_locale':app.request.get('_locale') }) }}">{{ 'Home'|trans }}</a>
                <span class="breadcrumb-separator"><i class="fa fa-angle-{{ side }}" aria-hidden="true"></i></span>
                <a href="#" class="last-breadcrumb">{{ 'Iktissab password Recovery'|trans}}</a>
            </div>
        </div>
    </div>
    <section class="container memebersendpwdwrapper form-pwd" >
        <div class="row">
            <div class="login-list-title-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div><h1> {{ 'Iktissab password Recovery'|trans}}</h1></div>
            </div>
            <div id="#preLoaders"></div>
        </div>
        <div class="row  offset-layout send_pwd_msg">
            {% if(error.success == false) %}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12   ">
                    <div> <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert alert-danger ">{{ error.message }}</div></div>
                </div>
            {% endif %}
            {% if(error.success == true and error.message != '') %}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ">
                    <div> <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert alert-success ">{{ error.message }}</div></div>
                </div>
            {% endif %}
        </div>
        {{ form_start(form, { 'attr': {'autocomplete': 'off'} })  }}
        <div class="row  offset-layout">
            <div class="login-list-title-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 ">



                {{ form_start(form) }}

                <div class="title-cardactivation-form">
                    {{ form_label(form.iktCardNo) }}
                </div>

                <div class="cardactivationForm">
                    {{ form_widget(form.iktCardNo) }}
                </div>

                <div class="title-cardactivation-form-captcha">
                    {{ form_errors(form.iktCardNo) }}
                </div>


                <div class="title-cardactivation-form">
                    {{ form_label(form.iqama) }}
                </div>

                <div class="cardactivationForm">
                    {{ form_widget(form.iqama) }}
                </div>

                <div class="title-cardactivation-form-captcha">
                    {{ form_errors(form.iqama) }}
                </div>
            </div>
        </div>

        <div class="row offset-layout">
              <div class="col-lg-10 col-md-10 col-sm-9 col-xs-7">
                    <div class="title-cardactivation-form">
                        {{ form_label(form.captchaCode) }}
                    </div>
                    <div class="cardactivationForm">
                        {{ form_widget(form.captchaCode) }}
                    </div>
                    <div class="title-cardactivation-form">
                        {{ form_errors(form.captchaCode) }}
                    </div>
              </div>
              <div class="captcha-image-sendpwd col-lg-2 col-md-2 col-sm-3 col-xs-5">
                    <img src="{{ asset('/img/' ~ data ) }}" alt="captcha" class="cap-bordering" />
              </div>

              <div class="claerfix"></div>
        </div>
        {{ form_widget(form.token, {'attr': {'value':  token  }}) }}
        {{ form_end(form) }}
        <div class="claerfix"></div>
    </section>

{% endblock %}



{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/boekkooijqueryvalidation/additional-methods.js") }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            {{ form_jquery_validation(form) }}
        });
    </script>
{% endblock %}













