{% extends 'base.html.twig' %}

{% block body %}
    <div class="container breadcrum-wrapper">
        <div class="row">
            <div class="breadcrumb">
                <a  class="in-active-link" href="{{ path('homepage', {'_country': app.request.get('_country'), '_locale':app.request.get('_locale') }) }}">{{ 'Home'|trans }}</a>
                <span class="breadcrumb-separator"><i class="fa fa-angle-{{ side }}" aria-hidden="true"></i></span>
                <a href="#" class="last-breadcrumb">{{ 'Iktissab password Recovery'|trans}}</a>
            </div>
        </div>
    </div>
    <section class="container memebersendpwdwrapper" >
        <div class="row">
            <div class="login-list-title-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div><h1> {{ 'Iktissab password Recovery'|trans}}</h1></div>
            </div>
            <div id="#preLoaders"></div>
        </div>







        <div class="row forgot-email-account offset-layout">
            {% if(error.success == false) %}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  alert alert-danger  ">
                    {{ error.message }}
                </div>
            {% endif %}
            {% if(error.success == true and error.message != '') %}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  alert alert-success">
                    {{ error.message }}
                </div>
            {% endif %}
            {{ form_start(form) }}

               {{ form_row(form.iktCardNo) }}
               {{ form_row(form.iqama) }}

            {{ form_end(form) }}
        </div>

        <div class="claerfix"></div>
    </section>

{% endblock %}



{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/boekkooijqueryvalidation/additional-methods.js") }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            {{ form_jquery_validation(form) }}


        });
    </script>
{% endblock %}













