{% extends 'base.html.twig' %}
{% set title =  'Inquiries and Suggestions'|trans   %}
{% block body %}
    <section class="container breadcrum-wrapper">
        <div class="row">
            <div class="breadcrumb">
                <a  class="in-active-link" href="{{ path('homepage', {'_country': app.request.get('_country'), '_locale':app.request.get('_locale') }) }}">{{ 'Home'|trans }}</a>

                <span class="breadcrumb-separator"><i class="fa fa-angle-{{ side }}" aria-hidden="true"></i></span>
                <a href="#" class="last-breadcrumb">{{ 'FAQs'|trans}}</a>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8  col-xs-12  login-list-title-wrapper">
                <div class="title-contents">
                    <h1>   {{'Inquiry and Suggestions'|trans}} </h1>
                </div>
                <div class="inq-successs-form-wrapper">
                    <div class="inq-successs-wrapper">
                        <h2>{{ 'Our Dear Customer'|trans}}</h2>
                    </div>
                    <div class="activation-contents">
                        <br>
                        {{ 'We are pleased to be one of Alothaim Markets customers'|trans }}

                        <br>
                        {{ 'We are also pleased to receive your comments and suggestions. We confirm receiving your comments and will be forwarded to the concerned department and you will be notified of the action taken immediately after we receive the concerned department’s reply.'|trans }}
                        <br>

                        {{ 'We extend our thanks to you for communicating with us via the website of Alothaim Markets company and will be always happy to serve you round the clock.'|trans }}
                        <br>
                        <br>
                        {{ 'Greetings'|trans }}
                        <br>
                        {{ 'Customer Service Team'|trans }}
                        <br>
                        <!--<a href="">test</a>-->
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

