{% extends 'base.html.twig' %}

{% block body %}

    <script src="{{ asset('js/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/boekkooijqueryvalidation/additional-methods.js") }}"></script>
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-lg-12 text-center ">
            Activatoin step One
        </div>
        {% if(error.success == false) %}
            <div class="col-lg-12 text-center alert alert-danger">
                {{ error.message }}
            </div>
        {% endif %}
        <div class="col-lg-12 text-center ">

            {{ form_start(form,{'attr': {'id': 'ikt_reg'}}) }}
            {{ form_row(form.iktCardNo) }}
            {{ form_row(form.fullName) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password) }}
            {{ form_row(form.gender) }}
            {{ form_row(form.nationality) }}
            <div id="div_dg">
                {{ form_row(form.dob) }}
            </div>
            <div id="div_dh">
                {{ form_row(form.dob_h) }}
            </div>

            <input type="button" id="btn_dob" value="Hijri"/>
            {{ form_row(form.maritial_status) }}
            {{ form_row(form.iqama) }}
            {{ form_row(form.job_no) }}
            {{ form_row(form.city_no) }}
            <div id="area_no">
                {{ form_row(form.area_no) }}
            </div>
            <div id="area_text">
                {{ form_row(form.area_text) }}
            </div>
            {{ form_row(form.language) }}
            {{ form_errors(form.mobile) }}
            {#{{ form_row(form.mobile) }}#}
            {{ form_label(form.mobile) }}
            <input type="text" value="966" readonly disabled>{{ form_widget(form.mobile) }}
            {{ form_row(form.pur_group) }}
            {{ form_row(form.submit) }}


            {{ form_end(form) }}

        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {

            // for months in hijri

            $('#ikt_reg_dob_h_month').empty().append('' +
                    '<option value="">{{ 'Month'|trans }}</option>' +
                    '<option value="1">{{ 'Muharram'|trans }}</option>' +
                    '<option value="2">{{ 'Safar'|trans }}</option>' +
                    '<option value="3">{{ 'Rabi ul Awwal'|trans }}</option>' +
                    '<option value="4">{{ 'Rabi ul Akhir'|trans }}</option>' +
                    '<option value="5">{{ 'Jumadal Awwal'|trans }}</option>' +
                    '<option value="6">{{ 'Jumadal Akhira'|trans }}</option>' +
                    '<option value="7">{{ 'Rajab'|trans }}</option>' +
                    '<option value="8">{{ 'Shaban'|trans }}</option>' +
                    '<option value="9">{{ 'Ramadan'|trans }}</option>' +
                    '<option value="10">{{ 'Shawwal'|trans }}</option>' +
                    '<option value="11">{{ 'Dhul Qaada'|trans }}</option>' +
                    '<option value="12">{{ 'Dhul Hijja'|trans }}</option>'
            );

            $('#div_dh').hide();
            if($('#ikt_reg_date_type').val() == 'g'){
                $('#div_dg').show();
                $('#div_dh').hide();
                $('#btn_dob').val('{{ 'Hijri'|trans }}');
                $('#ikt_reg_dob_h_month option:nth-child(2)').prop("selected", "selected");
                $('#ikt_reg_dob_h_day option:nth-child(2)').prop("selected", "selected");
                $('#ikt_reg_dob_h_year option:nth-child(2)').prop("selected", "selected");


            }else{
                $('#div_dg').hide();
                $('#div_dh').show();
                $('#btn_dob').val('{{ 'Gregorian'|trans }}');
                $('#ikt_reg_dob_month option:nth-child(2)').prop("selected", "selected");
                $('#ikt_reg_dob_day option:nth-child(2)').prop("selected", "selected");
                $('#ikt_reg_dob_year option:nth-child(2)').prop("selected", "selected");


            }
            jQuery('#btn_dob').on('click', function () {

                toggle_date();

            });
            function toggle_date() {
                if ($('#ikt_reg_date_type').val() == 'g') {
                    // change to hijri now
                    // select default value for dates in greg to bypass validation
                    $('#ikt_reg_dob_month option:nth-child(2)').prop("selected", "selected");
                    $('#ikt_reg_dob_day option:nth-child(2)').prop("selected", "selected");
                    $('#ikt_reg_dob_year option:nth-child(2)').prop("selected", "selected");

                    $('#ikt_reg_dob_h_month option:nth-child(1)').prop("selected", "selected");
                    $('#ikt_reg_dob_h_day option:nth-child(1)').prop("selected", "selected");
                    $('#ikt_reg_dob_h_year option:nth-child(1)').prop("selected", "selected");

                    $('#div_dh').show();
                    $('#div_dg').hide();
                    $('#btn_dob').val('{{ 'Gregorian'|trans }}');
                    $('#ikt_reg_date_type').val('h');

                } else {
                    $('#ikt_reg_dob_h_month option:nth-child(2)').prop("selected", "selected");
                    $('#ikt_reg_dob_h_day option:nth-child(2)').prop("selected", "selected");
                    $('#ikt_reg_dob_h_year option:nth-child(2)').prop("selected", "selected");

                    $('#ikt_reg_dob_month option:nth-child(1)').prop("selected", "selected");
                    $('#ikt_reg_dob_day option:nth-child(1)').prop("selected", "selected");
                    $('#ikt_reg_dob_year option:nth-child(1)').prop("selected", "selected");

                    $('#div_dh').hide();
                    $('#div_dg').show();
                    $('#btn_dob').val('{{ 'Hijri'|trans }}')
                    $('#ikt_reg_date_type').val('g')
                    //change to greg
                }
            }



            // for city and areas
            $('#area_no').hide();


            var areas = {{ areas.content| raw }} ;
            $('#ikt_reg_area_no').empty().append('<option value="-1">-1</option>');
            jQuery('#ikt_reg_city_no').on('change', function () {
                manage_areas($(this).val())
            });
            // if form is submitted then manage the areas and cities
            if($('#ikt_reg_city_no').val() != '') {
                manage_areas($('#ikt_reg_city_no').val());
            }

            function manage_areas(city){
                var city_count = 0;

                $('#ikt_reg_area_no').empty().append('<option value="">{{ 'Select Area'|trans }}</option>');

                if (city != '') {

                    $.each(areas, function (index, el) {
                        if (city == el.city_no) {
                            city_count++;
                            $('#ikt_reg_area_no').append('<option value="' + el.name + '">' + el.name + '</option>');
                        }
                    });

                }
                if (city_count > 0) {

                    $('#ikt_reg_area_text').val('-1');
                    jQuery('#area_no').show();
                    jQuery('#area_text').hide();
                } else {
                    $('#ikt_reg_area_no').empty().append('<option value="-1">-1</option>');
                    $('#ikt_reg_area_text').val('');
                    jQuery('#area_no').hide();
                    jQuery('#area_text').show();
                }

            }
//            $('#ikt_reg').submit(function (e) {
//
//            });
            {{ form_jquery_validation(form) }}

        });
    </script>
{% endblock %}