
<table class="table table-bordered">


    <tr>
        <td colspan="3" class="col-lg-12 eservice-content-company-title">{{ 'Card Information'|trans }}</td>
    </tr>
    <tr>
        <td class="col-lg-4">
            <div class="ikt-info-wrapper">
                <div class="img-ikt-info"><img alt="total-balance" src="{{ asset('img/11.svg')}}"></div>
                <div class="ikt-info-price">
                    <div class="ikt-info-price-title">111{{ 'Total Balance'|trans }}</div>
                    <div class="ikti-info-price-details color-blue">{{ iktData['balance'] + iktData['balance_used']|round(2, 'floor') }}</div>
                    <div class="ikt-info-price-currency"> ("Currency-"~ app.request.get('_country'))|trans }}</div>
                </div>

            </div>
        </td>
        <td class="col-lg-4 ">
            <div class="ikt-info-wrapper">
                <div class="img-ikt-info"><img alt="total-balance" src="{{ asset('img/22.svg')}}"></div>
                <div class="ikt-info-price">
                    <div class="ikt-info-price-title">{{ 'Used Balance'|trans }} </div>
                    <div class="ikti-info-price-details orange-color">{{ iktData['balance_used']|round(2, 'floor') }}</div>
                    <div class="ikt-info-price-currency">{{ ("Currency-"~ app.request.get('_country'))|trans }}</div>
                </div>

            </div>
        </td>
        <td class="col-lg-4 ">
            <div class="ikt-info-wrapper">
                <div class="img-ikt-info"><img alt="total-balance" src="{{ asset('img/33.svg')}}"></div>
                <div class="ikt-info-price">
                    <div class="ikt-info-price-title">{{ 'Current Balance'|trans }} </div>
                    <div class="ikti-info-price-details light-red-color">{{ iktData['balance']|round(2, 'floor') }}</div>
                    <div class="ikt-info-price-currency"> ("Currency-"~ app.request.get('_country'))|trans }}</div>
                </div>

            </div>

        </td>
    </tr>
    <tr>

        <td colspan="3"  class="col-lg-12 user-details">
            <table class="table table-bordered user-details" >
                <tr>
                    <td style="border-top:none !important;" class="user-details-date">
                        <div class="ikt-date-info">
                            <div class="ikt-date-icon-r"><i class="fa fa-circle-o" aria-hidden="true"></i></div>
                            <div class="ikt-date-title">{{ 'Activation Date'|trans }}</div>
                            <div class="ikt-date-date">

                                {%   set act_date = iktData['activation_date']|split(' ') %}
                                {{ act_date[0] }}



                            </div>
                            <div class="claerfix"></div>
                        </div>
                    </td>
                    <td style="border-top:none !important; border-left:none !important; border-bottom:none !important;" class="user-details-istikhdam">
                        <div class="ikt-date-info">
                            <div class="ikt-date-icon-o"><i class="fa fa-circle-o" aria-hidden="true"></i></div>
                            <div class="ikt-date-title">{{ 'Last Used'|trans }}</div>
                            <div class="ikt-date-date">
                                {%   set last_used_date = iktData['last_used_date']|split(' ') %}
                                {{ last_used_date[0] }}
                            </div>
                            <div class="claerfix"></div>
                        </div>
                    </td>

                </tr>
            </table>
        </td>

    </tr>
    <tr>

    </tr>

</table>
<div style="  float: right; width: 100%; margin-left:30px !important;" class="">
    {% if message != '' %}
        <div class="alert-success-forms formMessage alert-danger  fade in alert-dismissable">
            {{ message }}
        </div>
    {% endif %}
    <div id="placeholder" class="col-lg-12 col-xs-12" style="height: 400px; width: 100%;">
    </div>

</div>

<script type="text/javascript">




var d1 = [
        {% for item , value in iktTransData %}
        ["{{ value.Mnth }}", {{ value.Sales }}],
        {% endfor %}
    ];















    $(document).ready(function () {

        var data = [ ["January", 110], ["February", 8], ["March", 4], ["April", 13], ["May", 17], ["June", 9] ];



        $.plot("#placeholder", [ d1 ], {
            series: {
                bars: {
                    show: true,
                    barWidth: 0.6,
                    align: "center"
                }
            },
            xaxis: {
                axisLabel: "World Cities",
                mode: "categories",
                tickLength: 0
            }
        });

        // Add the Flot version string to the footer

        $("#footer").prepend("Flot " + $.plot.version + " &ndash; ");


        /*
         setTimeout(function(){
         window.location.reload(1);
         }, 30000);
         */








    });
</script>


<style type="text/css">
    #placeholder { width: 100%; height: 400px; }
    #chartContainer { float:right; position: relative; display: flex; margin-left:20px;}
    .canvasjs_chart_tooltip { display: none;  }
    .canvasjs-chart-canvas{ margin-left:20px; }

</style>



