{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12  text-center">
                <div>
                    {{ 'Update Password'|trans}}    q
                </div>
                <div>
                        {{ form(form1) }}
                    <input type="text" name="auth_updatepassword" class="" value="">
                        {{ form_end(form1) }}
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <!--<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>-->
    <script type="text/javascript" src="{{ asset('js/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/boekkooijqueryvalidation/additional-methods.js") }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            {{ form_jquery_validation(form1) }}
        });
    </script>
{% endblock %}

