{% extends 'base.html.twig' %}

{% set title = 'My Account'|trans %}

{% block headerhome %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/custom.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/bootstrap-tabcollapse.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.flot.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.flot.time.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.flot.categories.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/vendor/modernizr-2.6.2.min.js') }}"></script>



{% endblock %}

{% block top_menu %}
    {{ parent() }}
{% endblock %}

{% block main_menu %}
    {{ parent() }}
{% endblock %}
{% block body %}








    {% if(iktData) %}
        <section class="container breadcrum-wrapper">
            <div class="row">
                <div class="breadcrumb">
                    <a title="Home" class="in-active-link" href="#">{{ 'Home'|trans }}</a>
                    <span class="breadcrumb-separator"><i class="fa fa-angle-{{ side }}" aria-hidden="true"></i></span>
                    <a href="#" class="last-breadcrumb">{{ 'My Account'|trans }}</a>
                </div>
            </div>
        </section>
        <section class="container cardactivation-wrapper">
            <div class="row">
                <div class="cardactivation-list-title-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="title-contents">{{ 'My Account'|trans }}</div>
                </div>
            </div>
            <div class="row">
                <div class="cardactivation-list-title-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="sub-title-contents grey-color">{{ 'Membership No'|trans }}<span class="orange-color">  {{ iktData['C_id'] }}</span> </div>
                    <div class="activation-contents grey-color"> {{ iktData['cname'] }}</div>
                    <div class="claerfix"></div>
                </div>
            </div>

        </section>

        <section class="container eservices-wrapper">
            <!-- Demo content -->

            <div class="row eservice-contents">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 eservice-list">
                    <ul id="myTab" class="nav nav-tabs" >
                        <li class="slide-section"><span class="eservice-list-icons"><i class="fa fa-plus-square" aria-hidden="true"></i>
</span>
                            {{ 'Information'|trans }}

                        </li>


                        <li><a href="#1" data-id="1"  data-path='{{ path('front_account_info', {'_country': app.request.get('_country'), '_locale':app.request.get('_locale') }) }}' data-toggle="tab">
                                <span class="eservice-list-icons"><i class="fa fa-caret-{{ side }}" aria-hidden="true"></i></span>

                                {{ 'Card Information'|trans }}
                            </a></li>

                        <li><a href="#2" data-id="2" data-path='{{ path('front_account_personalinfo', {'_country': app.request.get('_country'), '_locale':app.request.get('_locale') }) }}'   data-toggle="tab">
                                <span class="eservice-list-icons"><i class="fa fa-caret-{{ side }}" aria-hidden="true"></i>


</span>
                                {{ 'Personal Information'|trans }}
                            </a></li>








                        <li class="slide-section"><span class="eservice-list-icons"><i class="fa fa-plus-square" aria-hidden="true"></i>
</span>
                            {{ 'Update Information'|trans }}
                        </li>
                        <li ><a href="#5" data-id="5"  data-path="{{ path('front_account_missingcard', {'_country': app.request.get('_country'), '_locale':app.request.get('_locale') }) }}" data-toggle="tab">
                                <span class="eservice-list-icons"><i class="fa fa-caret-{{ side }}" aria-hidden="true"></i>

</span>
                                {{ 'Update Missing Card'|trans }}
                            </a></li>

                        <li ><a href="#6" data-id="6"
                                data-path="{{ path('account_update', {'_country': app.request.get('_country'), '_locale':app.request.get('_locale') }) }}" data-toggle="tab">
                                <span class="eservice-list-icons"><i class="fa fa-caret-{{ side }}" aria-hidden="true"></i></span>
                                {{ 'Update Personal Information'|trans }} </a></li>

                        <li ><a href="#7" data-id="7"  data-path="{{ path('front_account_mobile', {'_country': app.request.get('_country'), '_locale':app.request.get('_locale') }) }}" data-toggle="tab"><span class="eservice-list-icons"><i class="fa fa-caret-{{ side }}" aria-hidden="true"></i>


</span>
                                {{ 'Update your mobile'|trans }}
                            </a></li>
                        <li ><a href="#8" data-id="8"  data-path="{{ path('front_account_fullname', {'_country': app.request.get('_country'), '_locale':app.request.get('_locale') }) }}" data-toggle="tab"><span class="eservice-list-icons"><i class="fa fa-caret-{{ side }}" aria-hidden="true"></i>


</span>
                                {{ 'Update Your Name'|trans }}
                            </a></li>
                        <li ><a href="#9" data-id="9"   data-path="{{ path('front_account_iqamassn', {'_country': app.request.get('_country'), '_locale':app.request.get('_locale') }) }}"  data-toggle="tab"><span class="eservice-list-icons"><i class="fa fa-caret-{{ side }}" aria-hidden="true"></i>


</span>
                                {{ ('Update your Iqama Id/ SSN'~app.request.get('_country'))|trans }}
                            </a></li>
                        <li ><a href="#10" data-id="10"   data-path="{{ path('front_account_email', {'_country': app.request.get('_country'), '_locale':app.request.get('_locale') }) }}"  data-toggle="tab"><span class="eservice-list-icons"><i class="fa fa-caret-{{ side }}" aria-hidden="true"></i>


</span>
                                {{ 'Update your email'|trans}}
                            </a></li>
                        <li class="slide-section-end"><a href="#11" data-id="11"  data-path='{{ path('front_account_updatepassword', {'_country': app.request.get('_country'), '_locale':app.request.get('_locale') }) }}' data-toggle="tab"><span class="eservice-list-icons"><i class="fa fa-caret-{{ side }}" aria-hidden="true"></i>


</span>
                                {{ 'Update Password'|trans}}
                            </a></li>

                    </ul>





                    </ul>

                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
                    <div id="myTabContent" class="tab-content eservice-list-contents" >

                        <div class="tab-pane fade in active" id="1">
                            <div class="eservice-content-company-description" id="contents-1" >
                                <table class="table table-bordered">


                                    <tr>
                                        <td colspan="3" class="col-lg-12 eservice-content-company-title">{{ 'Personal Information'|trans }}</td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-4">
                                            <div class="ikt-info-wrapper">
                                                <div class="img-ikt-info"><img alt="total-balance" src="{{ asset('img/11.svg')}}"></div>
                                                <div class="ikt-info-price">
                                                    <div class="ikt-info-price-title">{{ 'Total Balance'|trans }}</div>
                                                    <div class="ikti-info-price-details color-blue">{{ iktData['balance'] + iktData['balance_used']|round(2, 'floor') }}</div>
                                                    <div class="ikt-info-price-currency">
                                                        {% if app.request.cookies.get('c_country') == 'eg' %}
                                                            {{ 'EGP'|trans }}
                                                        {% else %}
                                                            {{ 'SAR'|trans }}
                                                        {% endif %}
                                                    </div>
                                                </div>

                                            </div>
                                        </td>
                                        <td class="col-lg-4 ">
                                            <div class="ikt-info-wrapper">
                                                <div class="img-ikt-info"><img alt="total-balance" src="{{ asset('img/22.svg')}}"></div>
                                                <div class="ikt-info-price">
                                                    <div class="ikt-info-price-title">{{ 'Used Balance'|trans }}</div>
                                                    <div class="ikti-info-price-details orange-color">{{ iktData['balance_used']|round(2, 'floor') }}</div>
                                                    <div class="ikt-info-price-currency">
                                                        {% if app.request.cookies.get('c_country') == 'eg' %}
                                                            {{ 'EGP'|trans }}
                                                        {% else %}
                                                            {{ 'SAR'|trans }}
                                                        {% endif %}
                                                    </div>
                                                </div>

                                            </div>
                                        </td>
                                        <td class="col-lg-4 ">
                                            <div class="ikt-info-wrapper">
                                                <div class="img-ikt-info"><img alt="total-balance" src="{{ asset('img/33.svg')}}"></div>
                                                <div class="ikt-info-price">
                                                    <div class="ikt-info-price-title">{{ 'Current Balance'|trans }} </div>
                                                    <div class="ikti-info-price-details light-red-color">{{ iktData['balance']|round(2, 'floor') }}</div>
                                                    <div class="ikt-info-price-currency">
                                                        {% if app.request.cookies.get('c_country') == 'eg' %}
                                                            {{ 'EGP'|trans }}
                                                        {% else %}
                                                            {{ 'SAR'|trans }}
                                                        {% endif %}
                                                    </div>
                                                </div>

                                            </div>

                                        </td>
                                    </tr>
                                    <tr>

                                        <td colspan="3"  class="col-lg-12 user-details">
                                            <table class="table table-bordered user-details" >
                                                <tr>
                                                    <td style="border-top:none !important;" class="user-details-date">
                                                        <div class="ikt-date-info">
                                                            <div class="ikt-date-icon-r"><i class="fa fa-circle-o" aria-hidden="true"></i></div>
                                                            <div class="ikt-date-title">{{ 'Activation Date'|trans }}</div>
                                                            <div class="ikt-date-date">

                                                                {%   set act_date = iktData['activation_date']|split(' ') %}
                                                                {{ act_date[0] }}



                                                            </div>
                                                            <div class="claerfix"></div>
                                                        </div>
                                                    </td>
                                                    <td style="border-top:none !important; border-left:none !important; border-bottom:none !important;" class="user-details-istikhdam">
                                                        <div class="ikt-date-info">
                                                            <div class="ikt-date-icon-o"><i class="fa fa-circle-o" aria-hidden="true"></i></div>
                                                            <div class="ikt-date-title">{{ 'Last Used'|trans }}</div>
                                                            <div class="ikt-date-date">
                                                                {%   set last_used_date = iktData['last_used_date']|split(' ') %}
                                                                {% if last_used_date[0] != '' %}
                                                                {{ last_used_date[0] }}
                                                                {% else %}
                                                               --
                                                                {%  endif %}
                                                            </div>
                                                            <div class="claerfix"></div>
                                                        </div>
                                                    </td>

                                                </tr>
                                            </table>
                                        </td>

                                    </tr>
                                    <tr>

                                    </tr>

                                </table>
                                <div style="width: 96%;  float: right;  margin-left: 2% !important; margin-right:2% !important ; margin-top:40px; " class="">
                                    {% if message != '' %}
                                        {% set display = 'none' %}
                                        <div style="" class="alert-success-forms formMessage alert fade in  alert-danger">
                                            {{ 'No record found'|trans }}
                                        </div>
                                    {% else %}
                                    {% set display = 'block' %}
                                    {% endif %}
                                    <div id="placeholder"  class="col-lg-12 col-xs-12" style="height: 400px; width: 100%; display:{{ display }}">
                                    </div>

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>


                        <div class="tab-pane fade  " id="1">
                            <div class="eservice-content-personal-title">
                                {{ 'Personal Information'|trans }}
                            </div>
                            <div class="eservice-content-iqama-description" id="contents-1">

                            </div>
                            <div id="ajax-preloader-wrapper1" style="margin-top:150px;">
                                <div id="loader1"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="tab-pane fade  " id="2">
                            <div class="eservice-content-personal-title">
                                {{ 'Personal Information'|trans }}
                            </div>
                            <div class="eservice-content-iqama-description" id="contents-2">

                            </div>
                            <div id="ajax-preloader-wrapper2" style="margin-top:150px;">
                                <div id="loader2"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>


                        <div class="tab-pane fade  " id="5">
                            <div  class="eservice-content-personal-title ">
                                {{ 'Update Missing Card'|trans}}
                            </div>

                            <div class="eservice-content-iqama-description" id="contents-5">

                            </div>
                            <div id="ajax-preloader-wrapper5" style="margin-top:150px;">
                                <div id="loader5"></div>
                            </div>


                        </div>
                        <div class="tab-pane fade  " id="6">
                            <div class="eservice-content-personal-title">
                                {{ 'Update Personal Information'|trans }}
                            </div>
                            <div class="eservice-content-iqama-description" id="contents-6">

                            </div>
                            <div id="ajax-preloader-wrapper6" style="margin-top:150px;" >
                                <div id="loader6"></div>
                            </div>
                        </div>

                        <div class="tab-pane fade  " id="7">
                            <div  class="eservice-content-personal-title title-form-wrapper">
                                {{ 'Update your mobile'|trans}}
                            </div>

                            <div class="eservice-content-iqama-description" id="contents-7">

                            </div>
                            <div id="ajax-preloader-wrapper7" style="margin-top:150px;">
                                <div id="loader7"></div>
                            </div>



                        </div>

                        <div class="tab-pane fade  " id="8">
                            <div  class="eservice-content-personal-title  title-form-wrapper">
                                {{ 'Update Your Name'|trans}}
                            </div>
                            <div class="eservice-content-iqama-description" id="contents-8">

                            </div>
                            <div id="ajax-preloader-wrapper8" style="margin-top:150px;">
                                <div id="loader8"></div>
                            </div>

                        </div>

                        <div class="tab-pane fade  " id="9">
                            <div  class="eservice-content-personal-title title-form-wrapper">
                                {{ ("Update your Iqama Id/ SSN"~app.request.get('_country'))|trans}}
                            </div>

                            <div class="eservice-content-iqama-description" id="contents-9">

                            </div>
                            <div id="ajax-preloader-wrapper9" style="margin-top:150px;">
                                <div id="loader9"></div>
                            </div>


                        </div>

                        <div class="tab-pane fade  " id="10">
                            <div class="eservice-content-personal-title title-form-wrapper">
                                {{ 'Update your email'|trans}}
                            </div>
                            <div class="eservice-content-iqama-description" id="contents-10">

                            </div>
                            <div id="ajax-preloader-wrapper10" style="margin-top:150px;">
                                <div id="loader10"></div>
                            </div>



                        </div>


                        <div class="tab-pane fade  " id="11">
                            <div  class="eservice-content-personal-title title-form-wrapper">
                                {{ 'Update Password'|trans}}
                            </div>

                            <div class="eservice-content-iqama-description" id="contents-11">
                            </div>
                            <div id="ajax-preloader-wrapper11" style="margin-top:150px;">
                                <div id="loader11"></div>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </section>

    {% else %}
        <section class="container ">
            <div class="row">
                <div class="col-lg-12 text-center home-no-data">
                   <div class="alert-success-forms formMessage alert-danger alert fade in alert-dismissable">
                    {% if message != "" %}
                       {{ message }}
                       {% else %}
                       {{ 'No record found'|trans }}

                       {% endif %}

                   </div><br />
                </div>
            </div>
        </section>
    {% endif %}





    <script type="text/javascript">

        var d1 = [
            {% for item , value in iktTransData %}
                ["{{ value.Mnth }}", {{ value.Sales }}],
            {% endfor %}
        ];

        $(document).ready(function () {
            $.plot("#placeholder", [ d1 ], {
                series: {
                    bars: {
                        show: true,
                        barWidth: 0.6,
                        align: "center"
                    }
                },
                xaxis: {
                    axisLabel: "World Cities",
                    mode: "categories",
                    tickLength: 0
                }
            });
            $("#footer").prepend("Flot " + $.plot.version + " &ndash; ");

            $('#myTab a').on('click', function (event)
            {
                if($(this).data('id') != '1') { // 13 is for logout
                    event.preventDefault();
                    var path = $(this).data('path');
                    var id = $(this).data('id');

                    $.ajax({
                        url:path,
                        beforeSend: function () {
                            $('#ajax-preloader-wrapper'+id).html('<div id="loader"></div>');
                            $("#contents-"+id).html('');

                        },
                        complete: function () {
                        },

                        success: function (response) {
                            $('#ajax-preloader-wrapper'+id).html('');
                            $("#contents-"+id).html(response);
                        },
                        error: function(errorThrown){
                            alert("There is an error with AJAX!");
                        }
                    });

                }
            });
        });
    </script>


    <style type="text/css">
        #placeholder { width: 100%; height: 400px; }
        #chartContainer { float:right; position: relative; display: flex; margin-left:20px;}
        .canvasjs_chart_tooltip { display: none;  }
        .canvasjs-chart-canvas{ margin-left:20px; }
    </style>





{% endblock %}

