{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/datatables.css') }}"/>
    <script src="{{ asset('js/datatables.js') }}"></script>
    <div class="container">

    </div>
    {% if(iktData) %}
        <div class="main">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-4 text-center">
                    <div id="chart4" class="line-chart"></div>
                    Balance {{ iktData['balance'] }}
                </div>
                <div class="col-lg-4 text-center">
                    <div id="chart5" class="donut"></div>
                    <div class="donut-label">24</div>
                    Branches most visited
                </div>
                <div class="col-lg-4 text-center">
                    <div id="chart6" class="donut"></div>
                    <div class="donut-label">75</div>
                    Monthly card usage
                </div>
                <div class="col-lg-12 text-center">
                    <a href="{{ url('account_logout', {'_country': app.request.get('_country'), '_locale':app.request.get('_locale') }) }}">Logout</a>
                </div>

                <div class="col-lg-12 profile-tabs">
                    <div>

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#personal" aria-controls="home" role="tab"
                                                                      data-toggle="tab">Personal Details</a></li>
                            <li role="presentation"><a href="#statement" aria-controls="profile" role="tab"
                                                       data-toggle="tab" id="trans-tab">Customer Transactions</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active in" id="personal">
                                <div class="row">
                                    <!--row-->
                                    <div class="col-lg-6">
                                        <div class="col-lg-6">
                                            {{ 'Customer Name'|trans }}
                                        </div>
                                        <div class="col-lg-6">
                                            {{ iktData['cname'] }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-6">
                                            {{ 'Customer Status'|trans }}
                                        </div>
                                        <div class="col-lg-6">
                                            {{ iktData['customer_status_'~app.request.get('_locale')] }}
                                        </div>

                                    </div>
                                    <!-- end of row -->
                                    <!--row-->
                                    <div class="col-lg-6">
                                        <div class="col-lg-6">
                                            {{ 'Iktissab Card No'|trans }}
                                        </div>
                                        <div class="col-lg-6">
                                            {{ iktData['C_id'] }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-6">
                                            {{ 'Area'|trans }}
                                        </div>
                                        <div class="col-lg-6">
                                            {{ iktData['area'] }}
                                        </div>

                                    </div>
                                    <!-- end of row -->
                                    <!--row-->
                                    <div class="col-lg-6">
                                        <div class="col-lg-6">
                                            {{ 'House Number'|trans }}
                                        </div>
                                        <div class="col-lg-6">
                                            {{ iktData['houseno'] }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-6">
                                            {{ 'PO Box'|trans }}
                                        </div>
                                        <div class="col-lg-6">
                                            {{ iktData['pobox'] }}
                                        </div>

                                    </div>
                                    <!-- end of row -->
                                    <!--row-->
                                    <div class="col-lg-6">
                                        <div class="col-lg-6">
                                            {{ 'Zip Code'|trans }}
                                        </div>
                                        <div class="col-lg-6">
                                            {{ iktData['zip'] }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-6">
                                            {{ 'City'|trans }}
                                        </div>
                                        <div class="col-lg-6">
                                            {{ iktData['city_'~app.request.get('_locale')] }}
                                        </div>

                                    </div>
                                    <!-- end of row -->
                                    <!--row-->
                                    <div class="col-lg-6">
                                        <div class="col-lg-6">
                                            {{ 'Telephone (Home)'|trans }}
                                        </div>
                                        <div class="col-lg-6">
                                            {{ iktData['tel_home'] }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-6">
                                            {{ 'Telephone (Office)'|trans }}
                                        </div>
                                        <div class="col-lg-6">
                                            {{ iktData['tel_office'] }}
                                        </div>

                                    </div>
                                    <!-- end of row -->
                                    <!--row-->
                                    <div class="col-lg-6">
                                        <div class="col-lg-6">
                                            {{ 'Mobile'|trans }}
                                        </div>
                                        <div class="col-lg-6">
                                            {{ iktData['mobile'] }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-6">
                                            {{ 'Email'|trans }}
                                        </div>
                                        <div class="col-lg-6">
                                            {{ iktData['email'] }}
                                        </div>

                                    </div>
                                    <!-- end of row -->
                                    <!--row-->
                                    <div class="col-lg-6">
                                        <div class="col-lg-6">
                                            {{ 'Nationality'|trans }}
                                        </div>
                                        <div class="col-lg-6">
                                            {{ iktData['country_'~app.request.get('_locale')] }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-6">
                                            {{ 'Marital Status'|trans }}
                                        </div>
                                        <div class="col-lg-6">
                                            {{ iktData['marital_status_'~app.request.get('_locale')] }}
                                        </div>

                                    </div>
                                    <!-- end of row -->
                                    <!--row-->
                                    <div class="col-lg-6">
                                        <div class="col-lg-6">
                                            {{ 'Birthdate'|trans }}
                                        </div>
                                        <div class="col-lg-6">
                                            {{ iktData['birthdate'] }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-6">
                                            {{ 'Job Title'|trans }}
                                        </div>
                                        <div class="col-lg-6">
                                            {{ iktData['job_'~app.request.get('_locale')] }}
                                        </div>

                                    </div>
                                    <!-- end of row -->
                                    <!--row-->
                                    <div class="col-lg-6">
                                        <div class="col-lg-6">
                                            {{ 'Balance'|trans }}
                                        </div>
                                        <div class="col-lg-6">
                                            {{ iktData['balance'] }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-6">
                                            {{ 'Language'|trans }}
                                        </div>
                                        <div class="col-lg-6">
                                            {{ ('lang-'~'E')|trans }}
                                        </div>

                                    </div>
                                    <!-- end of row -->
                                    <!--row-->
                                    <div class="col-lg-6">
                                        <div class="col-lg-6">
                                            {{ 'Gender:'|trans }}
                                        </div>
                                        <div class="col-lg-6">
                                            {{ ('gender-'~iktData['gender'])|trans }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-6">
                                            {{ 'Shoppers'|trans }}
                                        </div>
                                        <div class="col-lg-6">
                                            {{ ('pur_group-'~iktData['pur_grp'])|trans }}
                                        </div>

                                    </div>
                                    <!-- end of row -->
                                </div>

                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="statement">...
                                <table id="tbl_transactions" class="display" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>Branch</th>
                                        <th>Invoice No.</th>
                                        <th>Trans. Amount</th>
                                        <th>Date</th>
                                        <th>Credit</th>
                                        <th>Gifts</th>
                                        <th>Expired</th>
                                    </tr>
                                    </thead>

                                </table>
                                <div id="div_transactions_page">

                            </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $.getScript('{{ asset('js/gp/jquery.flot.min.js') }}', function () {
                $.getScript('{{ asset('js/gp/jquery.flot.pie.min.js') }}', function () {
                    $.getScript('{{ asset('js/gp/jquery.flot.resize.min.js') }}', function () {


                        // static charts
                        var d1 = [];
                        for (var i = 0; i < 14; i += 0.2) {
                            d1.push([i, Math.sin(i)]);
                        }
                        var d2 = [[0, 3], [4, 8], [8, 5], [9, 13]];
                        var d3 = [[0, 15], [7, 10], [8, 1], [12, 15]];

                        // line
                        $.plot("#chart2", [d1], {yaxis: {show: false}, grid: {borderColor: '#ccc'}});
                        $.plot("#chart3", [d2, d3], {
                            yaxis: {show: false},
                            grid: {borderColor: '#ccc'},
                            series: {color: '#ff4444', lines: {show: true}, points: {show: true}}
                        });
                        $.plot("#chart4", [d3], {
                            yaxis: {show: false},
                            grid: {borderColor: '#ccc'},
                            series: {color: '#4444ff'}
                        });

                        // pie
                        $.plot("#chart5", [{data: 70, color: '#5566ff'}, {
                            data: 20,
                            color: '#ddd'
                        }], {series: {pie: {show: true, innerRadius: 0.6}}});
                        $.plot("#chart6", [{data: 10, color: '#5566ff'}, {
                            data: 30,
                            color: '#ddd'
                        }], {series: {pie: {show: true, innerRadius: 0.6}}});

                        // real-time chart
                        // we use an inline data source in the example, usually data would
                        // be fetched from a server
                        var data = [], totalPoints = 200;

                        function getRandomData() {

                            if (data.length > 0)
                                data = data.slice(1);

                            // do a random walk
                            while (data.length < totalPoints) {
                                var prev = data.length > 0 ? data[data.length - 1] : 50;
                                var y = prev + Math.random() * 10 - 5;
                                if (y < 0)
                                    y = 0;
                                if (y > 100)
                                    y = 100;
                                data.push(y);
                            }

                            // zip the generated y values with the x values
                            var res = [];
                            for (var i = 0; i < data.length; ++i)
                                res.push([i, data[i]])
                            return res;
                        }

                        // setup control widget
                        var updateInterval = 500;
                        $("#updateInterval").val(updateInterval).change(function () {
                            var v = $(this).val();
                            if (v && !isNaN(+v)) {
                                updateInterval = +v;
                                if (updateInterval < 1)
                                    updateInterval = 1;
                                if (updateInterval > 2000)
                                    updateInterval = 2000;
                                $(this).val("" + updateInterval);
                            }
                        });

                        // setup plots
                        var options = {
                            grid: {borderColor: '#ccc'},
                            series: {shadowSize: 0, color: "#33ff33"},
                            yaxis: {min: 0, max: 100},
                            xaxis: {show: true}
                        };

                        var plot = $.plot($("#chart1"), [getRandomData()], options);

                        function update() {
                            plot.setData([getRandomData()]);
                            plot.draw();
                            setTimeout(update, updateInterval);
                        }

                        update();

                    });// end getScript (resize)
                });// end getScript (pie)
            });// end getScript

            // for tabs
//            $('#myTabs a').click(function (e) {
//                e.preventDefault()
//                alert("The tab name is");
//                $(this).tab('show')
//            })

//            $('#trans-tab').click(function (e){
//                alert('show me trans');
//            })

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var target = $(e.target).attr("href") // activated tab
                if(target == '#statement'){
                    {#$.ajax({#}
                        {#url: "{{ path('ikt_transactions',{ '_country': app.request.get('_country'), '_locale':app.request.get('_locale'), 'page':1 }) }}"#}
                    {#}).done(function(result){#}
                        {#$('#div_transactions').empty().append(result)#}
                    {#})#}
                    $('#tbl_transactions').DataTable( {
                        "processing": true,
                        "serverSide": true,
                        'searching': false,
                        'ordering': false,
                        'lengthChange': false,
                        "ajax": {
                            "url": '{{ path('ikt_transactions',{ '_country': app.request.get('_country'), '_locale':app.request.get('_locale'), 'page':1 }) }}',
                            "dataType": "json"
                        }
                    } );
                }
            });
        </script>
        <style>
            /* CSS used here will be applied after bootstrap.css */

            .big-chart {
                width: 100%;
                height: 220px;
            }

            .line-chart {
                width: 100%;
                height: 100px;
            }

            .donut {
                width: 100%;
                height: 150px;
                min-width: 150px;
            }

            .donut-label {
                position: absolute;
                left: 0%;
                font-size: 22pt;
                color: #ddd;
                width: 100%;
                top: 38%;
            }

            .profile-tabs {
                min-height: 400px;
            }
        </style>
    {% else %}
        <div class="row">
            <div class="col-lg-12 text-center">
                No user data found<br />
                <a href="{{ url('account_logout', {'_country': app.request.get('_country'), '_locale':app.request.get('_locale') }) }}">Logout</a>
            </div>
        </div>

    {% endif %}
{% endblock %}

