

            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12">
                    <div class="titleForm_main_missingcard">
                        {{ 'Dear customer'|trans}}
                    </div>
                    <div class="titleForm_sub_missingcard">
                        {{ 'You can update your information through the following form'|trans }}
                    </div>
                    {% if message != '' %}
                        <div class="alert-success-forms formMessage alert {{ errorcl }} fade in alert-dismissable ">
                            {{ message }}
                        </div>
                    {% endif %}

                    <div id="preLoadersSSN"></div>


                        {{ form_start(form, { 'attr': {'autocomplete': 'off'} }) }}
                        <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                {{ form_row(form.iqamassn_registered) }}
                                {{ form_row(form.iqamassn_new) }}
                                {{ form_row(form.comment_iqamassn) }}

                                {{ form_widget(form.token, {'attr': {'value':  token  }}) }}


                                </div>
                        </div>
                        {{ form_end(form) }}

                </div>

                <div class="claerfix"></div>
                </div>

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            {{ form_jquery_validation(form) }}

        $('form[name="iqamassn"]').on('submit', function (event) {

            if($( "#iqamassn_iqamassn_new_first" ).hasClass( "valid" )) {
                if ($("#iqamassn_iqamassn_new_second").hasClass("valid")) {
                    if ($("#iqamassn_comment_iqamassn").hasClass("valid")) {
                        event.preventDefault();
                        $.ajax({
                            type: $(this).attr('method'),
                            url: "{{ path('front_account_iqamassn', {'_country': app.request.get('_country'), '_locale':app.request.get('_locale') }) }}",
                            data: new FormData(this),
                            processData: false,
                            contentType: false,
                            beforeSend: function () {
                                $('#preLoadersSSN').html('<div id="loader"></div>');
                            },
                            complete: function () {

                            },
                            success: function (response) {
                                //$('#preLoaders').html('');
                                $('#contents-9').html(response);
                            }
                        })
                    }
                    else {
                        return false;
                    }
                }
                else {
                    return false;
                }
            }else {
                return false;
            }



        });

        });
    </script>

{% endblock %}



