



        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
               </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="eservice-content-inner-wrapper">
                        <div class="titleForm_main_missingcard">
                            {{ 'Dear customer'|trans}}
                        </div>

                        <div class="titleForm_sub_missingcard">
                            {{ 'You can update your information through the following form'|trans }}
                        </div>
                        {% if message != '' %}
                        <div class="alert-success-forms formMessage alert fade in  {{ errorcl }}">

                            {{ message }}
                        </div>

                        {% endif %}
                    <div id="preLoadersCARD"></div>


                    <!--<a href="{{ url('account_logout', {'_country': app.request.get('_country'), '_locale':app.request.get('_locale') }) }}">Logout</a>-->

                        <div class="">
                            {{ form_start(form) }}
                            {{ form_row(form.missingcard_registered_iqamaid) }}
                            {{ form_row(form.new_iktissab_id) }}
                            {{ form_row(form.comment_missingcard) }}
                            {{ form_end(form) }}
                        </div>
                </div>
                <div class="claerfix"></div>
            </div>


        </div>



{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            {{ form_jquery_validation(form) }}



            $('form[name="missing_card"]').on('submit', function (event) {
                if($( "#missing_card_new_iktissab_id_first" ).hasClass( "valid" ))
                {
                    if($( "#missing_card_new_iktissab_id_second" ).hasClass( "valid" ))
                    {
                        if($( "#missing_card_comment_missingcard" ).hasClass( "valid" )) {
                            event.preventDefault();
                            $.ajax({
                                type: $(this).attr('method'),
                                url: "{{ path('front_account_missingcard', {'_country': app.request.get('_country'), '_locale':app.request.get('_locale') }) }}",
                                data: new FormData(this),
                                processData: false,
                                contentType: false,
                                beforeSend: function () {
                                    $('#preLoadersCARD').html('<div id="loader"></div>');
                                },
                                complete: function () {

                                },
                                success: function (response) {
                                    //$('#preLoadersCARD').html('');
                                    $('#contents-5').html(response);
                                }
                            })
                        }else
                        {
                             return false;
                        }
                    }else
                    {
                         return false;
                    }
                }else
                {
                     return false;
                }
            });

        });

    </script>





{% endblock %}

