
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div  class="eservice-content-personal-title">
                    {{ 'Update your mobile'|trans}}
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 ">
                    <div class="eservice-content-inner-wrapper">
                        <div class="titleForm_main">
                            {{ 'Dear customer'|trans}}
                        </div>

                        <div class="titleForm_sub">
                            {{ 'You can update your phone  with the new one through the following form'|trans }}
                        </div>

                            <div class="alert-success-forms formMessage alert alert-success fade in alert-dismissable">


                            </div>


                        <div id="preLoaders">
                        </div>


                                <div class="row">
                                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 ">
                                        {{ form_start(form) }}
                                        {{ form_row(form.iqamaid_mobile) }}
                                    </div>
                                 </div>
                                <div class="row">
                                    <div class="col-lg-2  col-md-2 col-sm-2 col-xs-2 mobile-ext-wraper ">
                                        {{ form_row(form.ext) }}
                                    </div>
                                    <div class="col-lg-8  col-md-8 col-sm-8 col-xs-8  mobile-ext-wraper">
                                        {{ form_row(form.mobile) }}
                                     </div>
                                 </div>
                                <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12">
                                {{ form_row(form.comment_mobile) }}
                                {{ form_end(form) }}
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="claerfix"></div>
                </div>














{% block javascripts %}
    <script type="text/javascript" src="{{ asset('default/jquery-validation-1.15.0/dist/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/boekkooijqueryvalidation/additional-methods.js") }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            {{ form_jquery_validation(form) }}
        });


        $('form[name="mobile"]').on('submit', function (event) {


                   alert('testting');


        });










    </script>



        <style>
            #preLoaders {
                left: 40%;
                z-index: 1;
                position: absolute;
                border-radius: 12px;
                top: 40%;
            }
        </style>{% endblock %}