<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

    </div>
</div>
{% if(iktData) %}
<div class="row">

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
        <div class="eservice-content-personal-description">
            <div class="icon-list-account light-red-color"><i aria-hidden="true" class="fa fa-circle-o"></i></div>
            <div class="account-info-detail-wrapper">
                <div class="account-info-column">{{ 'Full name'|trans }}</div>
                <div class="account-info-value">{{ iktData['cname'] }}</div>
                <div class="claerfix"></div>
            </div>
            <div class="claerfix"></div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
        <div class="eservice-content-personal-description">
            <div class="icon-list-account light-red-color"><i aria-hidden="true" class="fa fa-circle-o"></i></div>
            <div class="account-info-detail-wrapper">
                <div class="account-info-column">{{ 'House Number'|trans }}</div>
                <div class="account-info-value">{{ iktData['houseno'] }}</div>
                <div class="claerfix"></div>
            </div>
            <div class="claerfix"></div>
        </div>
    </div>
    <div class="claerfix"></div>
</div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
            <div class="eservice-content-personal-description">
                <div class="icon-list-account light-red-color"><i aria-hidden="true" class="fa fa-circle-o"></i></div>
                <div class="account-info-detail-wrapper">
                    <div class="account-info-column">{{ ('Iqama/SSN Number'~app.request.get('_country'))|trans }}</div>
                    <div class="account-info-value">{{ iktData['ID_no'] }}</div>
                    <div class="claerfix"></div>
                </div>
                <div class="claerfix"></div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
            <div class="eservice-content-personal-description">
                <div class="icon-list-account light-red-color"><i aria-hidden="true" class="fa fa-circle-o"></i></div>
                <div class="account-info-detail-wrapper">
                    <div class="account-info-column">{{ 'Country'|trans }}</div>
                    <div class="account-info-value">{{ iktData['country_ar'] }}</div>
                    <div class="claerfix"></div>
                </div>
                <div class="claerfix"></div>
            </div>
        </div>
        <div class="claerfix"></div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
            <div class="eservice-content-personal-description">
                <div class="icon-list-account light-red-color"><i aria-hidden="true" class="fa fa-circle-o"></i></div>
                <div class="account-info-detail-wrapper">
                    <div class="account-info-column">{{ 'birthdate'|trans }}</div>
                    <div class="account-info-value">{{ iktData['birthdate'] }}</div>
                    <div class="claerfix"></div>
                </div>
                <div class="claerfix"></div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
            <div class="eservice-content-personal-description">
                <div class="icon-list-account light-red-color"><i aria-hidden="true" class="fa fa-circle-o"></i></div>
                <div class="account-info-detail-wrapper">
                    <div class="account-info-column">{{ 'Job'|trans }}</div>
                    <div class="account-info-value">{{ iktData['job_'~app.request.get('_locale')] }}</div>
                    <div class="claerfix"></div>
                </div>
                <div class="claerfix"></div>
            </div>
        </div>
        <div class="claerfix"></div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
            <div class="eservice-content-personal-description">
                <div class="icon-list-account light-red-color"><i aria-hidden="true" class="fa fa-circle-o"></i></div>
                <div class="account-info-detail-wrapper">
                    <div class="account-info-column">{{ 'Marital Status'|trans }}</div>
                    <div class="account-info-value">{{ iktData['marital_status_'~app.request.get('_locale')] }}</div>
                    <div class="claerfix"></div>
                </div>
                <div class="claerfix"></div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
            <div class="eservice-content-personal-description">
                <div class="icon-list-account light-red-color"><i aria-hidden="true" class="fa fa-circle-o"></i></div>
                <div class="account-info-detail-wrapper">
                    <div class="account-info-column">{{ 'Language'|trans }}</div>
                    <div class="account-info-value">{{ iktData['lang'] }}</div>
                    <div class="claerfix"></div>
                </div>
                <div class="claerfix"></div>
            </div>
        </div>
        <div class="claerfix"></div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
            <div class="eservice-content-personal-description">
                <div class="icon-list-account light-red-color"><i aria-hidden="true" class="fa fa-circle-o"></i></div>
                <div class="account-info-detail-wrapper">
                    <div class="account-info-column">{{ 'City'|trans }}</div>
                    <div class="account-info-value">{{ iktData["city_"~app.request.get('_locale')] }}</div>
                    <div class="claerfix"></div>
                </div>
                <div class="claerfix"></div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
            <div class="eservice-content-personal-description">
                <div class="icon-list-account light-red-color"><i aria-hidden="true" class="fa fa-circle-o"></i></div>
                <div class="account-info-detail-wrapper">
                    <div class="account-info-column">{{ 'Area'|trans }}</div>
                    <div class="account-info-value">{{ iktData['area'] }}</div>
                    <div class="claerfix"></div>
                </div>
                <div class="claerfix"></div>
            </div>
        </div>
        <div class="claerfix"></div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
            <div class="eservice-content-personal-description">
                <div class="icon-list-account light-red-color"><i aria-hidden="true" class="fa fa-circle-o"></i></div>
                <div class="account-info-detail-wrapper">
                    <div class="account-info-column">{{ 'Mobile'|trans }}</div>
                    <div class="account-info-value">{{ iktData["mobile"] }}</div>
                    <div class="claerfix"></div>
                </div>
                <div class="claerfix"></div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
            <div class="eservice-content-personal-description">
                <div class="icon-list-account light-red-color"><i aria-hidden="true" class="fa fa-circle-o"></i></div>
                <div class="account-info-detail-wrapper">
                    <div class="account-info-column">{{ 'Shoppers'|trans }}</div>
                    <div class="account-info-value">{{ ("pur_group-"~iktData['pur_grp'])|trans }}</div>
                    <div class="claerfix"></div>
                </div>
                <div class="claerfix"></div>
            </div>
        </div>
        <div class="claerfix"></div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
            <div class="eservice-content-personal-description">
                <div class="icon-list-account light-red-color"><i aria-hidden="true" class="fa fa-circle-o"></i></div>
                <div class="account-info-detail-wrapper">
                    <div class="account-info-column">{{ 'Customer Status'|trans }}</div>
                    <div class="account-info-value">{{ iktData["customer_status_"~app.request.get('_locale')] }}</div>
                    <div class="claerfix"></div>
                </div>
                <div class="claerfix"></div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
            <div class="eservice-content-personal-description">
                <div class="icon-list-account light-red-color"><i aria-hidden="true" class="fa fa-circle-o"></i></div>
                <div class="account-info-detail-wrapper">
                    <div class="account-info-column">{{ 'Card Status'|trans }}</div>
                    <div class="account-info-value">{{ iktData['card_status'] }}</div>
                    <div class="claerfix"></div>
                </div>
                <div class="claerfix"></div>
            </div>
        </div>
        <div class="claerfix"></div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
            <div class="eservice-content-personal-description">
                <div class="icon-list-account light-red-color"><i aria-hidden="true" class="fa fa-circle-o"></i></div>
                <div class="account-info-detail-wrapper">
                    <div class="account-info-column">{{ 'Zip Code'|trans }}</div>
                    <div class="account-info-value">{{ iktData["pobox"] }}</div>
                    <div class="claerfix"></div>
                </div>
                <div class="claerfix"></div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
            <div class="eservice-content-personal-description">
                <div class="icon-list-account light-red-color"><i aria-hidden="true" class="fa fa-circle-o"></i></div>
                <div class="account-info-detail-wrapper">
                    <div class="account-info-column">{{ 'Telephone (Office)'|trans }}</div>
                    <div class="account-info-value">{{ iktData['tel_office'] }}</div>
                    <div class="claerfix"></div>
                </div>
                <div class="claerfix"></div>
            </div>
        </div>
        <div class="claerfix"></div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
            <div class="eservice-content-personal-description">
                <div class="icon-list-account light-red-color"><i aria-hidden="true" class="fa fa-circle-o"></i></div>
                <div class="account-info-detail-wrapper">
                    <div class="account-info-column">{{ 'Email'|trans }}</div>
                    <div class="account-info-value">{{ iktData["email"] }}</div>
                    <div class="claerfix"></div>
                </div>
                <div class="claerfix"></div>
            </div>
        </div>

    </div>








{% else %}
    <div class="row" style="margin-left: 10px; margin-right: 10px;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" >
            {% if message != '' %}
                <div class="alert-success-forms formMessage alert {{ errorcl }} fade in alert-dismissable">
                    {{ message }}
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}
