

    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            {% if message != '' %}
                <div id="message-return" class="alert-success-forms formMessage alert {{ errorcl }} fade in alert-dismissable messsage-wrapper">
                    {{ message }}
                </div>
            {% endif %}
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 update_account_user_wrapper">
            <div id="preLoadersUpd">
            </div>
            {{ form_start(form, { 'attr': {'autocomplete': 'off'} }) }}


            <div id="div_dg" class="update-form-user">
                {{ form_row(form.dob) }}
                <div class="btn_dob_wrappper">
                    <input type="button" id="btn_dob" value="Hijri"/>
                </div>
                <div class="title-cardactivation-form-captcha">
                    {{ form_errors(form.dob) }}
                </div>
            </div>
            <div id="div_dh" class="update-form-user" style="display:none">
                {{ form_row(form.dob_h) }}
                <div class="btn_dob_h_wrappper">
                    <input type="button" id="btn_dob_h" value="Gregorian"/>
                </div>
                <div class="title-cardactivation-form-captcha">
                    {{ form_errors(form.dob_h) }}
                </div>
            </div>


            <div class="account_maritial_status update-form-user" >
            {{ form_row(form.maritial_status) }}
            </div>
            <div class="account_update_dd update-form-user">

            {{ form_row(form.job_no) }}
            </div>
            <div class="account_update_dd update-form-user">

            {{ form_row(form.language) }}
            </div>
            <div class="account_update_dd update-form-user">

            {{ form_row(form.city_no) }}
            </div>

            <div class="area_no_wrapper account_update_dd update-form-user">
                <div><label for="ikt_update_city_no" class="formLayout col-lg-12 col-md-12 col-sm-12 col-xs-12   form_labels">Area</label>
                    <select class="form-control formLayout" name="ikt_update[area_no]" id="ikt_update_area_no">
                        <option value="">Select Area</option>
                    </select>
                </div>
            </div>


            <div id="area_text" class="account_update_dd update-form-user">
                {{ form_row(form.area_text) }}
            </div>
            <div class="account_update_dd update-form-user">
                {{ form_row(form.pur_group) }}
            </div>
                {{ form_row(form.submit) }}

                {{ form_widget(form.token, {'attr': {'value':  token  }}) }}

                {{ form_end(form) }}


        </div>
    </div>
    {% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/boekkooijqueryvalidation/additional-methods.js") }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
             var sel_month_greg = $('#ikt_update_dob_month').val();
             jQuery("#ikt_update_dob_month option[value=1]").text("{{ 'Jan'|trans }}");
             jQuery("#ikt_update_dob_month option[value=2]").text("{{ 'Feb'|trans }}");
             jQuery("#ikt_update_dob_month option[value=3]").text("{{ 'March'|trans }}");
             jQuery("#ikt_update_dob_month option[value=4]").text("{{ 'April'|trans }}");
             jQuery("#ikt_update_dob_month option[value=5]").text("{{ 'May'|trans }}");
             jQuery("#ikt_update_dob_month option[value=6]").text("{{ 'June'|trans }}");
             jQuery("#ikt_update_dob_month option[value=7]").text("{{ 'July'|trans }}");
             jQuery("#ikt_update_dob_month option[value=8]").text("{{ 'August'|trans }}");
             jQuery("#ikt_update_dob_month option[value=9]").text("{{ 'September'|trans }}");
             jQuery("#ikt_update_dob_month option[value=10]").text("{{ 'October'|trans }}");
             jQuery("#ikt_update_dob_month option[value=11]").text("{{ 'November'|trans }}");
             jQuery("#ikt_update_dob_month option[value=12]").text("{{ 'December'|trans }}");


            // for months in hijri
            var sel_month = $('#ikt_update_dob_h_month').val();
            jQuery("#ikt_update_dob_h_month option[value=1]").text("{{ 'Muharram'|trans }}");
            jQuery("#ikt_update_dob_h_month option[value=2]").text("{{ 'Safar'|trans }}");
            jQuery("#ikt_update_dob_h_month option[value=3]").text("{{ 'Rabi ul Awwal'|trans }}");
            jQuery("#ikt_update_dob_h_month option[value=4]").text("{{ 'Rabi ul Akhir'|trans }}");
            jQuery("#ikt_update_dob_h_month option[value=5]").text("{{ 'Jumadal Awwal'|trans }}");
            jQuery("#ikt_update_dob_h_month option[value=6]"). text("{{ 'Jumadal Akhira'|trans }}");
            jQuery("#ikt_update_dob_h_month option[value=7]"). text("{{ 'Rajab'|trans }}");
            jQuery("#ikt_update_dob_h_month option[value=8]"). text("{{ 'Shaban'|trans }}");
            jQuery("#ikt_update_dob_h_month option[value=9]"). text("{{ 'Ramadan'|trans }}");
            jQuery("#ikt_update_dob_h_month option[value=10]"). text("{{ 'Shawwal'|trans }}");
            jQuery("#ikt_update_dob_h_month option[value=11]"). text("{{ 'Dhul Qaada'|trans }}");
            jQuery("#ikt_update_dob_h_month option[value=12]"). text("{{ 'Dhul Hijja'|trans }}");
            $('#div_dh').hide();
            if ($('#ikt_update_date_type').val() == 'g') {
                $('#div_dg').show();
                $('#div_dh').hide();
                $('#btn_dob').val('{{ 'Hijri'|trans }}');
                $('#ikt_update_dob_h_month option:nth-child(1)').prop("selected", "selected");
                $('#ikt_update_dob_h_day option:nth-child(1)').prop("selected", "selected");
                $('#ikt_update_dob_h_year option:nth-child(1)').prop("selected", "selected");

            } else {
                $('#div_dg').hide();
                $('#div_dh').show();
                $('#btn_dob_h').val('{{ 'Gregorian'|trans }}');
                $('#ikt_update_dob_month option:nth-child(1)').prop("selected", "selected");
                $('#ikt_update_dob_day option:nth-child(1)').prop("selected", "selected");
                $('#ikt_update_dob_year option:nth-child(1)').prop("selected", "selected");

            }
            jQuery('#btn_dob').on('click', function () {
                toggle_date();

            });
            jQuery('#btn_dob_h').on('click', function () {
                toggle_date_h();

            });
            function toggle_date() {
                if ($('#ikt_update_date_type').val() == 'g') {
                    // change to hijri now
                    $('#div_dh').show();
                    $('#div_dg').hide();
                    $('#btn_dob_h').val('{{ 'Gregorian'|trans }}');
                    $('#ikt_update_date_type').val('h');

                } else {
                    $('#div_dh').hide();
                    $('#div_dg').show();
                    $('#btn_dob').val('{{ 'Hijri'|trans }}')
                    $('#ikt_update_date_type').val('g')
                    //change to greg
                }
            }

            function toggle_date_h() {
                if ($('#ikt_update_date_type').val() == 'h') {

                    $('#div_dh').hide();
                    $('#div_dg').show();
                    $('#btn_dob').val('{{ 'Hijri'|trans }}')
                    $('#ikt_update_date_type').val('g')
                    //change to greg

                } else {
                    // change to hijri now
                    $('#div_dh').show();
                    $('#div_dg').hide();
                    $('#btn_dob_h').val('{{ 'Gregorian'|trans }}');
                    $('#ikt_update_date_type').val('h');

                }
            }


            // for city and areas
            // jQuery('#area_no').hide();


            var areas = {{ areas.content| raw }} ;
            jQuery('#ikt_update_area_no').empty();

            // --jQuery("#city_named").val(jQuery("#ikt_update_city_no option:selected").text());

            //jQuery('#ikt_update_area_no').empty().append('<option value="-1">-1</option>');
            jQuery('#ikt_update_city_no').on('change', function () {
                jQuery('#ikt_update_area_no').empty();
                manage_areas(jQuery(this).val())
            });
            // if form is submitted then manage the areas and cities
            if (jQuery('#ikt_update_city_no').val() != '') {
                manage_areas(jQuery('#ikt_update_city_no').val());
            }

            jQuery('#ikt_update_area_no').on('change', function () {
                //jQuery('#ikt_update_area_no').val();
                jQuery('#ikt_update_area_text').val(jQuery('#ikt_update_area_no').val());
                jQuery('#ikt_update_area_no').val(jQuery('#ikt_update_area_no').val());
            });




            function manage_areas(city)
            {
                var city_count = 0;
                if (city != '')
                {
                    jQuery.each(areas, function (index, el) {
                        if (city == el.city_no) {
                            city_count++;
                            jQuery('#ikt_update_area_no').append('<option value="'+jQuery.trim(el.name)+'">'+jQuery.trim(el.name)+'</option>');
                        }
                    });
                }
                if (city_count > 0)
                {
                    jQuery('#ikt_update_area_no').show();
                    jQuery('#area_text').hide();
                }
                else
                {
                    jQuery('#ikt_update_area_no').empty().append('<option value="-1">-1</option>');
                    jQuery('#ikt_update_area_text').val('');
                    jQuery('.area_no_wrapper').hide();
                    jQuery('#area_text').show();
                }
            }


           {{ form_jquery_validation(form) }}

            jQuery("#ikt_update_dob_h_year").change(function()
            {
                // alert("testing");
                jQuery("#ikt_update_dob_h_year-error").remove();
            });

            jQuery("#ikt_update_dob_year").change(function()
            {
                // alert("testing");
                jQuery("#ikt_update_dob_year-error").remove();
            });

            jQuery('form[name="ikt_update"]').on('submit', function (event)
            {
                //  alert("testing");
                var style = jQuery("#div_dg").attr("style");
                // alert(style);
                if(style == "display: none;")
                {
                    // alert("gregorean enalbed");
                    // alert(jQuery("#ikt_update_dob").val());
                    var ikt_gre = jQuery("#ikt_update_dob_h_year").val();
                    var ikt_gre_m = jQuery("#ikt_update_dob_h_month").val();
                    if(ikt_gre == "")
                    {
                        // alert("1");
                        jQuery("#ikt_update_dob_h_year-error").remove();
                        var htm = '<label id="ikt_update_dob_h_year-error" class="error" for="ikt_update_dob_h_year" style="">{{ 'This field is required'|trans }}</label>';
                        jQuery("#div_dh").append(htm);
                        return false;
                    }
                    else
                    {
                        jQuery("#div_dh").append("");
                        jQuery("#ikt_update_dob_h_year-error").remove();
                        // alert("23");
                        if(jQuery( "#ikt_update_dob_h_year" ).hasClass( "valid" ))
                        {
                            // alert("3");
                            event.preventDefault();
                            jQuery.ajax({
                                type: jQuery(this).attr('method'),
                                url: "{{ path('account_update', {'_country': app.request.get('_country'), '_locale':app.request.get('_locale') }) }}",
                                data: new FormData(this),
                                processData: false,
                                contentType: false,
                                beforeSend: function () {
                                    jQuery('#preLoadersUpd').html('<div id="loader"></div>');
                                    jQuery('#ikt_update_submit').attr('disabled', "disabled");
                                },
                                complete: function () {

                                },
                                success: function (response) {
                                    jQuery('#contents-6').html(response);
                                }
                            })
                        }
                        return false;
                    }
                }
                else
                {
                    // alert('asd---');
                    // alert(style);
                    // alert("gregorean enalbed");
                    // alert(jQuery("#ikt_update_dob").val());
                    var ikt_gre   = jQuery("#ikt_update_dob_year").val();
                    var ikt_gre_m = jQuery("#ikt_update_dob_month").val();
                    if(ikt_gre == "")
                    {
                        jQuery("#ikt_update_dob_year-error").remove();
                        var htm = '<label id="ikt_update_dob_year-error" class="error" for="ikt_update_dob_year" style="">{{ 'This field is required'|trans }}</label>';
                        jQuery("#div_dg").append(htm);
                    }
                    else
                    {
                        jQuery("#ikt_update_dob_year-error").remove();
                        if(jQuery( "#ikt_update_dob_year" ).hasClass( "valid" ))
                        {
                            event.preventDefault();
                            jQuery.ajax({
                                type: jQuery(this).attr('method'),
                                url: "{{ path('account_update', {'_country': app.request.get('_country'), '_locale':app.request.get('_locale') }) }}",
                                data: new FormData(this),
                                processData: false,
                                contentType: false,
                                beforeSend: function ()
                                {
                                    jQuery('#preLoadersUpd').html('<div id="loader"></div>');
                                    jQuery('#ikt_update_submit').attr('disabled', "disabled");
                                },
                                complete: function () {

                                },
                                success: function (response) {
                                    jQuery('#contents-6').html(response);
                                }
                            })
                        }
                        return true;
                    }
                    // alert("asdfads");
                    // var style = jQuery("#div_dg").attr("style");
                    // var htm = '<label id="ikt_update_dob_h_year-error" class="error" for="ikt_update_dob_h_year">This field is required</label>';
                    // jQuery("#ikt_update_dob_h").append(htm);
                    // alert("testing2"+style+jQuery("#div_dh").attr("style"));
                    return false;
                }

                });

        });
            </script>



    {% endblock %}

