

    <div class="row ">


        <div class="password-wrapper">
            <div class="titleForm_main_missingcard">
                {{ 'Dear customer'|trans}}
            </div>
            <div class="titleForm_sub_missingcard">
                {{ 'You can update your information through the following form'|trans }}
            </div>

            <div style="">
            {% if message != '' %}
                <div id="message-return" class="alert-success-forms formMessage alert {{ errorcl }} fade in alert-dismissable">

                    {{ message }}
                </div>
            {% endif %}
            </div>
            <div id="preLoadersPass"></div>



        {{ form_start(form1 , { 'attr': {'autocomplete': 'off'} }) }}
            <div  style="">
            {{ form_row(form1.new_password) }}
            </div>

            <div style="">
            {{ form_row(form1.new_password) }}
            </div>
            {{ form_widget(form1.token, {'attr': {'value':  token  }}) }}
            <div  style="">


                {{ form_end(form1) }}
            </div>
            <div class="claerfix"></div>
    </div>
            </div>
    </div>



    {% block javascripts %}
        <script type="text/javascript">
            $(document).ready(function () {
                {{ form_jquery_validation(form1) }}


                $('form[name="update_password"]').on('submit', function (event) {
                    if($( "#update_password_old_password" ).hasClass( "valid" )) {
                        if ($("#update_password_new_password_first").hasClass("valid")) {
                            if ($("#update_password_new_password_second").hasClass("valid")) {
                                event.preventDefault();
                                $.ajax({
                                    type: $(this).attr('method'),
                                    url: "{{ path('front_account_updatepassword', {'_country': app.request.get('_country'), '_locale':app.request.get('_locale') }) }}",
                                    data: new FormData(this),
                                    processData: false,
                                    contentType: false,
                                    beforeSend: function () {

                                        $('#preLoadersPass').html('<div id="loader"></div>');

                                    },
                                    complete: function () {
                                        //$('#preLoaders').html('');
                                    },
                                    success: function (response) {
                                        $('#contents-11').html(response);
                                    }
                                })

                            }
                            else
                            {
                                return false;
                            }
                        }
                        else
                        {
                            return false;
                        }
                    }
                    esle
                    {
                        return false;
                    }
                });
            });

        </script>
    {% endblock %}

