{% extends 'base.html.twig' %}

{% block body %}
  {% if app.request.cookies.get('c_locale') == "en" %}
      {%  set side = 'right'  %}
  {% elseif app.request.cookies.get('c_locale') == "ar"  %}
      {%  set side = 'left'  %}
  {% else %}
      {%  set side = 'left'  %}
  {% endif %}

    <section class="container breadcrum-wrapper">
        <div class="row">
            <div class="breadcrumb">
                <a  class="in-active-link" href="{{ path('homepage', {'_country': app.request.get('_country'), '_locale':app.request.get('_locale') }) }}">{{ 'Home'|trans }}</a>

                <span class="breadcrumb-separator"><i class="fa fa-angle-{{ side }}" aria-hidden="true"></i></span>
                <a href="#" class="last-breadcrumb">{{ 'FAQs'|trans}}</a>
            </div>
        </div>
    </section>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 login-list-title-wrapper">
            <div class=" ">
                <h1>   {{ 'FAQs'|trans}} </h1>
            </div>
            <div class="faqs-inner-wrapper">

                 {% for item in data %}
                    <div class="faqs-question">
                        {{ item.question }}
                    </div>
                    <div class="faqs-answer">
                        {{ item.answer }}
                    </div>
                 {% endfor %}
                 <div class="claerfix"></div>
            </div>
        </div>
    </div>
</div>




{% endblock %}