<section class="container-fluid se-ikt-item-copyright-wrapper">
    <div class="container">
        <div class="row">
            <div class="se-ikt-item-copyright">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="copyright-content-wrapper">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 nopadding-left">
                                <div class="copyright-text">{{ 'Copy rights'|trans }}  {{ "now"|date("Y") }}</div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="copyright-links">
                                    <div class="col-offset-1"><a href="{{ path('front_enquiry_and_suggestion_add', {'_country': local_country_url , '_locale':local_language_url }) }}" >{{ 'Inquiry and Suggestions'|trans }}</a></div>
                                    <div class="footer-links-separator"> | </div>
                                    <div class="footer-links"><a href="{{ app.request.getBaseURL() }}/{{ local_country_url }}/{{ local_language_url }}/cms/terms-and-conditions" >{{ 'Terms and Conditions'|trans }}</a></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 nopadding-left  nopadding-right">
                    <div class="playstore-wrapper">
                        <div class="gplay"><a href="https://play.google.com/store/apps/details?id=com.othaim.Iktissab" target="_blank"><img alt="google-play" class="img-responsive" src="{{ asset('img/gplay.svg') }}" /></a></div>
                        <div class="appstore"><a href="https://itunes.apple.com/us/app/iktissab-aktsab/id590381566?mt=8"  target="_blank"><img alt="appstore" class="img-responsive" src="{{ asset('img/appstore.svg') }}" /></a></div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>