{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div>
                {{ 'FAQs'|trans}}
            </div>
            <div>

            </div>

            <div class="">
                {{ message }}
            </div>
            <div>

        {% if show_form == true %}
                    {{ form(form) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.mobile) }}
                    {{ form_row(form.captchaCode) }}
                    {{ form_end(form) }}
        {% endif %}

            </div>
        </div>
    </div>

    {% endblock %}
    {% block javascripts %}
    <script type="text/javascript" src="{{ asset('default/jquery-validation-1.15.0/dist/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/boekkooijqueryvalidation/additional-methods.js") }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            {{ form_jquery_validation(form) }}
        });
    </script>

    <div class="row">

    rest of the contents .....

    </div>

</div>
{% endblock %}