{% extends '::base.html.twig' %}
{% set title = 'Home'|trans %}


{% block headerhome %}
    <meta http-equiv="Link" content="<{{ asset('img/promo1.svg')}}>; rel=prefetch">
    <meta http-equiv="Link" content="<{{ asset('img/promo1over.svg')}}>; rel=prefetch">
    <meta http-equiv="Link" content="<{{ asset('img/cart.svg')}}>; rel=prefetch">
    <meta http-equiv="Link" content="<{{ asset('img/cartover.svg')}}>; rel=prefetch">
    <link rel="prefetch" href="{{ asset('img/promo1.svg')}}">
    
    {{ parent() }}

    <script type="text/javascript">
        function changeImage(id , name)
        {
            var name = name + 'over';

            document.getElementById(id).src = "{{ app.request.schemeAndHttpHost }}{{ asset('/img/') }}"+name+".svg";
        }

        function changeImageOver(id , name)
        {
            document.getElementById(id).src =  "{{ app.request.schemeAndHttpHost }}{{ asset('/img/') }}"+name+".svg";
        }
    </script>

{% endblock %}

{% block top_menu %}
    {{ parent() }}

{% endblock %}

{% block main_menu %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-3 col-xs-3 message-promo-wrapper">
                <div class="message-promo">
                    <div class="row">
                        <!--<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2"><div class="right-arrow">
                                <img alt="slider-arrow" src="{{ asset('img/slider-arrow-l.svg')}}" />
                            </div></div>-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="mid-arrow-content">
                                <!--<span class="home-text-grey">خصم 10% لدى جميع فروع كيابي فقط لحاملي بطاقة اكتساب</span>
                                <span class="home-text-green">اكتساب Iktissab</span>
                                <span class="home-text-grey1">أسواق عبد الله العثيم تمنح خصومات هائلة لحاملي بطاقات اكتساب تصل إلى 25%</span>-->
                                <ul id="webTicker-{{ app.request.get('_locale') }}">
                                    {% for item_news in data_news %}
                                        {{ item_news.details|raw }}
                                    {%  endfor %}
                                </ul>
                            </div>
                        </div>
                        <!--<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2"><div class="left-arrow">
                                <img alt="slider2-arrow" src="{{ asset('img/slider-arrow-r.svg')}}" />
                            </div></div>-->
                        <div class="claerfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4  col-sm-12  col-xs-12 ">
                <div class="row">
                    <div class="promo-sec-wrapper">
                        <div class="col-lg-12 col-md-12  col-sm-6  col-xs-6">
                            <a href="{{ path('front_card_activation', {'_country': local_country_url, '_locale':local_language_url }) }}">
                                <div class="promotion-section"  onmouseover="changeImage('1','promo1');" onmouseout="changeImageOver('1','promo1');">
                                    <div class="promo-ico"><img alt="promotion" id="1" class="promo-img" src="{{ asset('img/promo1.svg')}}"></div>
                                    <div class="promo-title">{{ 'Activate Cards'|trans }}</div>
                                    <div class="promo-detail">{{ 'Get free iktissab card and start collecting money'|trans }}</div>
                                    <div class="claerfix"></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-12 col-md-12  col-sm-6  col-xs-6" >
                            <a href="http://www.othaimmarkets.com//othaim-promotions?pid=1" target="_blank">
                                <div class="promotion-section_down"  onmouseover="changeImage('2','cart');" onmouseout="changeImageOver('2','cart');">
                                    <div class="promo-ico"><img alt="promtions" id="2" class="promo-img" src="{{ asset('img/cart.svg')}}"></div>
                                    <div class="promo-title">{{ 'Weekly Promotions'|trans  }}</div>
                                    <div class="promo-detail">{{ 'Exclusive offers only for Ikitssab card holders'|trans }}</div>
                                    <div class="claerfix"></div>
                                </div>
                            </a>
                        </div>
                        <div class="claerfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8  col-sm-12  col-xs-12">
                <div class="main-slider-wrapper">
                    <div class="slickitem slider">
                        <div class="home-page-slider">
                            <a href="#" class="Product-Details">
                                <div class="Banner-img">
                                    <img alt="banner-img" class="img-responsive" src="{{ asset('img/banner/1.jpg') }}" />
                                </div>
                            </a>
                        </div>
                        <div class="home-page-slider">
                            <a href="#" class="Product-Details">
                                <div class="Banner-img">
                                    <img alt="banner-img" class="img-responsive" src="{{ asset('img/banner/1.jpg')}}" />
                                </div>
                            </a>
                        </div>
                        <div class="home-page-slider">
                            <a href="#" class="Product-Details">
                                <div class="Banner-img">
                                    <img alt="banner-img" class="img-responsive" src="{{ asset('img/banner/1.jpg')}}" />
                                </div>
                            </a>
                        </div>

                    </div> <!-- /.Item -->
                </div>
            </div>
            <div class="claerfix"></div>
            <div>
            </div>
        </div>
    </div>
{% if DataPromo != '' and DataPromo != null %}
    <section class="container se-iktitem">

        <div class="row ">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="main-wrapper-products">

                    <div class="ikt-offer home-title">{{ 'IKTISSAB PROMOTIONS'|trans }}</div>
                    <div class="slick-item slider slick-products">
                        {% set i = 0 %}
                        {% for items in DataPromo %}

                        <div class="Product-wrapper" id="{{ DataPromo[i].ID }}">


                            <span target="#" class="Product-Details" >
                                <div class="Product-img">


                                    <div class="Imgcontainer">
                                      <div class="Product-img"><a target="_blank" href="{{ DataPromo[i].URL }}"><img id="" class="img-responsive" src="{{ DataPromo[i].SmallImage }}" alt="Avatar"></a></div>
                                        <div class="middle">
                                            <div class="textZoom" id="{{ DataPromo[i].ID }}" onclick="show('{{ DataPromo[i].SmallImage }}')">
                                                <img width="19" height="17" src="{{asset('img/zoom_03.png')  }}">
                                            </div>
                                            <div class="textView" id="{{ DataPromo[i].ID }}" >
                                                <a target="_blank" href="{{ DataPromo[i].URL }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="Product-name"><a target="_blank" href="{{ DataPromo[i].URL }}">{{ DataPromo[i].Name }}</a></div>
                                <div class="Product-price">
                                    <div class="priceBeforeDescount">
                                        <span class="price-beforedesc">
                                             <span class="current-price-before">{{ DataPromo[i].Price|round(2, 'floor') }}</span><span class="current-before">
                                                {% if app.request.cookies.get('c_country') == 'eg' %}
                                                    {{ 'EGP'|trans }}
                                                {% else %}
                                                    {{ 'SAR'|trans }}
                                                {% endif %}
                                            </span>
                                        </span>
                                    </div>
                                    <div class="priceAfterDescount">
                                        <span class="price-afterdesc">
                                             <span class="current-price-after">{{ DataPromo[i].SpecialPrice|round(2, 'floor') }}</span><span class="current-after" >
                                                {% if app.request.cookies.get('c_country') == 'eg' %}
                                                {{ 'EGP'|trans }}
                                                {% else %}
                                                {{ 'SAR'|trans }}
                                                {% endif %}

                                            </span>
                                        </span>
                                    </div>
                                    <div class="claerfix"></div>
                                </div>

                            </span>
                        </div>
                            {% set i = i + 1 %}
                        {%  endfor %}
                    </div> <!-- /.Item -->
                    <div class="claerfix"></div>
                </div>

            </div>
        </div>
        <div class="row detail-iktissab-promotional-items">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ikt-promotions-detail-link">
                    <div class="link-ikt-pro">
                        <a class="button-link-ikt-promo" href="{{ path('front_iktissab_promotions', {'_country': local_country_url, '_locale':local_language_url }) }}">{{ 'More Items'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="claerfix"></div>
    </section> <!-- /.slick Section -->
    {% endif %}


    <section class="container ikt-savemore">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="ikt-save-more-contents">
                    <div class="row">

                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 ikt-save-more-contents-inner-wrapper">
                            <div class="ikt-save-more-contents-inner">
                                <div class="ikt-save-more-title">
                                    <span class="title-big-green">{{ 'Iktissab'|trans }} </span>
                                    <span class="title-normal-green">{{ 'Save More'|trans }}</span>
                                </div>
                                <div class="ikt-save-more-subtitle">
                                    {{ 'One of the Biggest Loyalty Program in KSA'|trans  }}
                                </div>

                                <div class="claerfix"></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="ikt-save-img"><img alt="save-more" width="170" height="100" src="{{ asset('img/smore.svg')}}" /></div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 smore-wrapper">
                            <div class="smore-text">
                            {{ 'Iktissab save more message text home'|trans }}
                            </div>


                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="square-wrapper">
                    <div class="row">

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 square-inner">
                            <a href="{{ app.request.getBaseURL() }}/{{ local_country_url }}/{{ local_language_url }}/cms/why-us">
                                <div class="sq-icon" onmouseover="changeImage('iktissab','iktissab')" onmouseout="changeImageOver('iktissab','iktissab')">
                                    <div><img alt="iktissab-img" id="iktissab" src="{{ asset('img/iktissab.svg')}}"></div>
                                    <div class="sq-title">{{ 'why us'|trans }}</div>
                                    <div class="claerfix"></div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 square-inner">
                            <a href="{{ app.request.getBaseURL() }}/{{ local_country_url }}/{{ local_language_url }}/cms/credit-cash">
                                <div class="sq-icon"  onmouseover="changeImage('asdaar','asdaar')" onmouseout="changeImageOver('asdaar','asdaar')">
                                    <div><img id="asdaar" alt="asdaar-img" src="{{ asset('img/asdaar.svg')}}"></div>
                                    <div class="sq-title">{{ 'Credit Cash'|trans }}</div>
                                    <div class="claerfix"></div>
                                </div>
                            </a>
                        </div>


                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 square-inner">
                            <a href="#">
                                <div class="sq-icon" onmouseover="changeImage('musharika','musharika')" onmouseout="changeImageOver('musharika','musharika')">
                                    <div><img alt="musharika-img" id="musharika" src="{{ asset('img/musharika.svg')}}"></div>
                                    <div class="sq-title">{{ 'Participation stores'|trans }}</div>
                                    <div class="claerfix"></div>
                                </div>
                            </a>
                        </div>


                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 square-inner" >
                            <a href="{{ app.request.getBaseURL() }}/{{ local_country_url }}/{{ local_language_url }}/cms/compatible-with-shariah">
                                <div class="sq-icon" onmouseover="changeImage('shariayah','shariayah')" onmouseout="changeImageOver('shariayah','shariayah')">
                                    <div><img alt="shariayah-img" id="shariayah" src="{{ asset('img/shariayah.svg')}}"></div>
                                    <div class="sq-title">{{ 'sharia complient'|trans }}</div>
                                    <div class="claerfix"></div>
                                </div>
                            </a>
                        </div>


                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 square-inner">
                            <a href="{{ app.request.getBaseURL() }}/{{ local_country_url }}/{{ local_language_url }}/cms/community-services">
                                <div class="sq-icon" onmouseover="changeImage('khdmat','khdmat-maj')" onmouseout="changeImageOver('khdmat','khdmat-maj')">
                                    <div><img alt="khdmat-img" id="khdmat" src="{{ asset('img/khdmat-maj.svg')}}"></div>
                                    <div class="sq-title">{{ 'Community Services'|trans }}</div>
                                    <div class="claerfix"></div>
                                </div>
                            </a>
                        </div>


                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 square-inner" >
                            <a href="{{ app.request.getBaseURL() }}/{{ local_country_url }}/{{ local_language_url }}/faqs">
                                <div class="sq-icon" onmouseover="changeImage('faqs','faqs')" onmouseout="changeImageOver('faqs','faqs')" >
                                    <div><img  id="faqs" alt="faqs-img" src="{{ asset('img/faqs.svg')}}"></div>
                                    <div class="sq-title">{{ 'faqs'|trans }}</div>
                                    <div class="claerfix"></div>
                                </div>
                            </a>
                        </div>
                        <div class="claerfix"></div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="container se-iktitem-brand">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="main-wrapper-products">
                    <div class="ikt-offer home-title">{{ 'Iktissab Partners'|trans }}</div>
                    <div class="slick-item-brand slider slick-products">
                        <div class="Product-wrapper">
                            <a href="#" class="Product-Details">
                                <div class="Product-img"><img alt="abu_fahad" class="img-responsive" src="{{ asset('/pl/') }}abu_fahad_c.png" /></div>
                            </a>
                        </div>

                        <div class="Product-wrapper">
                            <a href="#" class="Product-Details">
                                <div class="Product-img"><img alt="bady_froof" class="img-responsive" src="{{ asset('/pl/') }}bady_froof_c.png" /></div>
                            </a>
                        </div>

                        <div class="Product-wrapper">
                            <a href="#" class="Product-Details">
                                <div class="Product-img"><img alt="bonita" class="img-responsive" src="{{ asset('/pl/') }}bonita_c.png" /></div>
                            </a>
                        </div>

                        <div class="Product-wrapper">
                            <a href="#" class="Product-Details">
                                <div class="Product-img"><img alt="fecto" class="img-responsive" src="{{ asset('/pl/') }}fecto_c.png" /></div>
                            </a>
                        </div>

                        <div class="Product-wrapper">
                            <a href="#" class="Product-Details">
                                <div class="Product-img"><img alt="froof" class="img-responsive" src="{{ asset('/pl/') }}froof_c.png" /></div>
                            </a>
                        </div>

                        <div class="Product-wrapper">
                            <a href="#" class="Product-Details">
                                <div class="Product-img"><img alt="haley" class="img-responsive" src="{{ asset('/pl/') }}haley_c.png" /></div>
                            </a>
                        </div>

                        <div class="Product-wrapper">
                            <a href="#" class="Product-Details">
                                <div class="Product-img"><img alt="jodan" class="img-responsive" src="{{ asset('/pl/') }}jodan_c.jpg" /></div>
                            </a>
                        </div>

                        <div class="Product-wrapper">
                            <a href="#" class="Product-Details">
                                <div class="Product-img"><img alt="jold" class="img-responsive" src="{{ asset('/pl/') }}jold_c.png" /></div>
                            </a>
                        </div>

                        <div class="Product-wrapper">
                            <a href="#" class="Product-Details">
                                <div class="Product-img"><img alt="latina" class="img-responsive" src="{{ asset('/pl/') }}latina_c.png" /></div>
                            </a>
                        </div>

                        <div class="Product-wrapper">
                            <a href="#" class="Product-Details">
                                <div class="Product-img"><img alt="product1" class="img-responsive" src="{{ asset('/pl/') }}haley_c.png" /></div>
                            </a>
                        </div>
                        <div class="Product-wrapper">
                            <a href="#" class="Product-Details">
                                <div class="Product-img"><img alt="product1" class="img-responsive" src="{{ asset('/pl/') }}palace_gate_c.png" /></div>
                            </a>
                        </div>
                        <div class="Product-wrapper">
                            <a href="#" class="Product-Details">
                                <div class="Product-img"><img alt="product1" class="img-responsive" src="{{ asset('/pl/') }}rex_c.png" /></div>
                            </a>
                        </div>

                        <div class="Product-wrapper">
                            <a href="#" class="Product-Details">
                                <div class="Product-img"><img alt="product1" class="img-responsive" src="{{ asset('/pl/') }}saffori_c.png" /></div>
                            </a>
                        </div>

                        <div class="Product-wrapper">
                            <a href="#" class="Product-Details">
                                <div class="Product-img"><img alt="product1" class="img-responsive" src="{{ asset('/pl/') }}share_c.png" /></div>
                            </a>
                        </div>

                        <div class="Product-wrapper">
                            <a href="#" class="Product-Details">
                                <div class="Product-img"><img alt="product1" class="img-responsive" src="{{ asset('/pl/') }}zad_c.png" /></div>
                            </a>
                        </div>
                    </div> <!-- /.Item -->
                    <div class="claerfix"></div>
                </div>
            </div>
        </div>
        <div id="myModal1" class="modal">
            <span class="close"  style="color:#FFFFFF;">Close</span>
            <img class="modal-content" id="img01">

        </div>

    </section> <!-- /.slick Section -->
    <script type="text/javascript">
        // Get the modal
        var modal = document.getElementById('myModal1');
        function show(image) {
            var img = document.getElementById(image);
            var modalImg = document.getElementById("img01");

            modal.style.display = "block";
            modalImg.src = image;

        }

        // Get the <span> element that closes the modal

        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        // span.onclick = function() {
        modal.onclick = function() {
            modal.style.display = "none";
        }

    </script>



{% endblock %}

