{% extends 'base.html.twig' %}

{% block body %}

    <section class="container ">
        {% if app.request.cookies.get('c_locale') == "en" %}
            {%  set side = 'right'  %}
        {% elseif app.request.cookies.get('c_locale') == "ar"  %}
            {%  set side = 'left'  %}
        {% else %}
            {%  set side = 'left'  %}
        {% endif %}
        <div class="breadcrum-wrapper">
            <div class="row">
                <div class="breadcrumb">
                    <a  class="in-active-link" href="{{ path('homepage', {'_country': app.request.get('_country'), '_locale':app.request.get('_locale') }) }}">{{ 'Home'|trans }}</a>

                    <span class="breadcrumb-separator"><i class="fa fa-angle-{{ side }}" aria-hidden="true"></i></span>
                    <a href="#" class="last-breadcrumb">{{ 'Login'|trans}}</a>
                </div>
            </div>
        </div>
        </section>
        <section class="container reset_password_wrapper">
        <div class="row">
            <div class="login-list-title-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div><h1> {{ 'Reset Password'|trans}}</h1></div>
            </div>
        </div>
        <div class="row">
                <div class="login-inner-contents  col-lg-12 col-md-12 col-sm-12 col-xs-12">



                    {% if message != "" %}

                        <div class="alert-success-forms formMessage alert alert-success fade in alert-dismissable "> {{ message}}</div>

                    {% endif %}
                </div>
        </div>
        </section>
        <section class="container reset_pass">
        <div class="row">

<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 ">
        <div class="row">
            <div class="col-lg-7  col-md-7 col-sm-7 col-xs-12 ">
                    {% if (data.show_form == 1 ) %}


                            {{ form(form) }}
                            <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12   ">

                            </div>
                            <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12   ">
                                <div class="row">
                                    {{ form_row(form.email) }}
                                </div>

                            </div>

                            <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12   ">

                                {{ form_row(form.password) }}
                            </div>
                            <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12   ">

                                {{ form_end(form) }}
                            </div>
                </div>
            </div>
</div>
                    {% endif %}
        </div>



    </section>


    {% endblock %}
    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="{{ asset('default/jquery-validation-1.15.0/dist/jquery.validate.js') }}"></script>
        <script type="text/javascript" src="{{ asset("default/js/jquery.validate.defaults.js") }}"></script>
        <script type="text/javascript" src="{{ asset("bundles/boekkooijqueryvalidation/additional-methods.js") }}"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                {{ form_jquery_validation(form) }}
            });
        </script>



{% endblock %}