{% if app.request.get('lang') != "" %}
    {%  set locale = app.request.get('lang')  %}
{% elseif app.request.cookies.get('c_locale') == "" %}
    {%  set locale = "ar"  %}
{% else %}
    {%  set locale = app.request.cookies.get('c_locale')  %}
{% endif %}




{% if locale == 'ar' %}
    {%  set ch_language = "en"  %}
{% else %}
    {%  set ch_language = "ar"  %}
{% endif %}

<nav class="navbar navbar-default noBorderRadius nomargin noBorder smallNavWrapper ">
    <div class="container topMenu">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <div class="top-contact-wrapper">
                    <ul class="nav navbar-nav navbar-right nomargin">
                        <li style="border-left:none; "><a style="border-left:none; "  href="{{ path('front_enquiry_and_suggestion_add', {'_country': local_country_url, '_locale':local_language_url }) }}"> {{ 'Inquiry and Suggestions'|trans }} </a></li>
                        <li><a href="{{ path('front_faqlist', {'_country': local_country_url, '_locale':local_language_url }) }}">{{ 'faqs'|trans }}</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-md-7 col-lg-7 col-sm-7 col-xs-12">
                <div class="top-lang-wrapper">
                    <ul class="nav navbar-nav navbar-left top-lang-wrapper-inner">

                        {% if app.user is not null %}
                            <li>
                            <a href="{{ path('account_logout', {'_country': local_country_url, '_locale':local_language_url }) }}">
                              {{ 'logout'|trans }}</a>
                            </li>
                            <li class="dropdown">
                                <a href="{{ path('account_home', {'_country': local_country_url, '_locale':local_language_url }) }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                {{ 'My Account'|trans }}    &nbsp;&nbsp;</a>
                                <ul class="dropdown-menu">

                                    <li><a href="{{ path('account_home', {'_country': local_country_url, '_locale':local_language_url }) }}">{{ 'Personal Information'|trans }}</a></li>
                                    <!--
                                    <li><a href="{{ path('account_home', {'_country': local_country_url, '_locale':local_language_url }) }}">{{ 'Update Mobile'|trans }}</a></li>
                                    <li><a href="{{ path('account_home', {'_country': local_country_url, '_locale':local_language_url }) }}">{{ 'Update-Iqama-SSN'|trans }}</a></li>
                                    <li><a href="{{ path('account_home', {'_country': local_country_url, '_locale':local_language_url }) }}">{{ 'Update Name'|trans }} </a></li>
                                    <li><a href="{{ path('account_home', {'_country': local_country_url, '_locale':local_language_url }) }}">{{ 'update lost card'|trans }} </a></li>
                                    <li><a href="{{ path('account_home', {'_country': local_country_url, '_locale':local_language_url }) }}">{{ 'Update Email'|trans }}</a></li>
                                    -->

                                    <li><a href="{{ path('send_password', {'_country': local_country_url, '_locale':local_language_url }) }}">{{ 'Iktissab password Recovery'|trans }}</a></li>

                                    <li><a href="{{ path('account_home', {'_country': local_country_url, '_locale':local_language_url }) }}">{{ 'Update Password'|trans }}  </a></li>
                                </ul>
                            </li>

                        {% else %}
                        <li>
                            <a href="{{ path('login', {'_country': local_country_url, '_locale':local_language_url }) }}">
                                {{ 'login'|trans }} </a>
                        </li>
                        <li>
                             <a href="{{ path('front_card_activation', {'_country': local_country_url, '_locale':local_language_url }) }}">
                                    {{ 'Signup'|trans }} </a>
                        </li>
                        {% endif %}





                        {% if app.request.cookies.get('c_country') == 'eg' %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                {{ 'Egypt'|trans }}    &nbsp;&nbsp;  <img class="country-fl" alt="saudia" src="{{ asset('img/eg.jpg')}}"  height="13px" /></a>
                            <ul class="dropdown-menu right">
                                <li>

                                  <a href="{{ path('setCountry', {'_country': 'sa', '_locale':local_language_url }|merge({'ccid': 'sa' })) }}"> {{ 'Saudia'|trans }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                        {% else %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                {{ 'Saudia'|trans }}    &nbsp;&nbsp;  <img alt="saudia" src="{{ asset('img/ksa.jpg')}}"  height="13px" /></a>
                            <ul class="dropdown-menu">
                                <li>   <a href="{{ path('setCountry', {'_country': 'eg', '_locale':local_language_url }|merge({'ccid': 'eg' })) }}">{{ 'Egypt'|trans }}</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        <li class="langSelected"><a href="{{ path('setLanguage', {'_country': local_country_url, '_locale':ch_language }|merge({'lang': ch_language,'url' :  app.request.get('_route'), 'id':     app.request.get('id')   })) }}">{{ 'Selected Language'|trans }}</a></li>

                    </ul>
                </div>
            </div>
            <div class="claerfix"></div>
        </div>
    </div>
</nav>