{% extends '::baseadmin.html.twig' %}


{% block body %}
    <div class="row">


        <div class="col-lg-12  col-md-12 col-sm-12 ">

            <div class="cmsForm">

                {{ message }}
            </div>
            {{ form_start(form) }}
            <div class="cmsForm">
                {{ form_label(form.formtype) }}
                {{ form_errors(form.formtype) }}
                {{ form_widget(form.formtype) }}
            </div>

            <div class="cmsForm">
                {{ form_label(form.country) }}
                {{ form_errors(form.country) }}
                {{ form_widget(form.country) }}
            </div>
            <div class="cmsForm">
                {{ form_label(form.submissions) }}
                {{ form_errors(form.submissions) }}
                {{ form_widget(form.submissions) }}
            </div>

            <div class="cmsForm">
                {{ form_label(form.limitto) }}
                {{ form_errors(form.limitto) }}
                {{ form_widget(form.limitto) }}
            </div>
            <div class="cmsForm">
                {{ form_label(form.status) }}
                {{ form_errors(form.status) }}
                {{ form_widget(form.status) }}
            </div>


            <div class="cmsFormSaveBtn">
                {{ form_label(form.save) }}

                {{ form_widget(form.save) }}
            </div>

            {{ form_end(form) }}
        </div>
    </div>
    <style>
        .cmsForm .required { width: 200px; }
    </style>
{% endblock %}

