{% extends "/email-templates/email-base-customers.email.twig" %}
{% block emailbody %}
    <table align="center" class="bgItem" border="0" cellpadding="0" cellspacing="0" valign="top" width="100%"
           style="background: #ffffff;">
        <tbody>
        <tr>
            <td align="right" valign="top">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td align="right" valign="top">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td align="right" valign="top">
                <div class="contentEditableContainer contentTextEditable">
                    <div class="contentEditable">
                        <p style="color: #555555;font-size: 20px;line-height: 30px;margin: 0;">

                        </p>
                        <div style="color: #555555;font-size: 20px;line-height: 30px;margin: 0;">
                            {{ 'Inquiries and Suggestions'|trans}}
                        </div>
                        <div style="color: #555555;font-size: 20px;line-height: 30px;margin: 0;">
                            {{ 'Full name'|trans}} : {{ name }}
                        </div>
                        <div style="color: #555555;font-size: 20px;line-height: 30px;margin: 0;">
                            {{ 'Job'|trans}} : {{ job }}
                        </div>
                        <div style="color: #555555;font-size: 20px;line-height: 30px;margin: 0;">
                            {{ 'Mobile'|trans}} : {{ mobile }}
                        </div>
                        <div style="color: #555555;font-size: 20px;line-height: 30px;margin: 0;">
                            {{ 'Email'|trans }} : {{ email }}
                        </div>
                        <div style="color: #555555;font-size: 20px;line-height: 30px;margin: 0;">
                            {{ 'Reason'|trans }} : {{ reason }}
                        </div>

                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td>&nbsp;</td>
        </tr>



        </tbody>
    </table>
{% endblock %}