{% extends '::baseadmin.html.twig' %}
{% block body %}
<div class="row">
    <div class="col-lg-12 profile-tabs">
        <div>

            <!-- Nav tabs -->


            <!-- Tab panes -->

            {% if iktData !="" %}
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="personal">


                    <div class="row" style="padding-top: 30px;">
                        <!--row-->
                        <div class="col-lg-6">
                            <div class="col-lg-6 admin-title">
                                {{ 'Customer Name'|trans }}
                            </div>
                            <div class="col-lg-6 admin-titledata">
                                {{ iktData['cname'] }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="col-lg-6  admin-title">
                                {{ 'Customer Status'|trans }}
                            </div>
                            <div class="col-lg-6">
                                {#{{ iktData['customer_status_'~app.request.get('_locale')] }}#}
                            </div>

                        </div>
                        <!-- end of row -->
                        <!--row-->
                        <div class="col-lg-6">
                            <div class="col-lg-6 admin-title">
                                {{ 'Iktissab Card No'|trans }}
                            </div>
                            <div class="col-lg-6 admin-titledata">
                                {{ iktData['C_id'] }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="col-lg-6 admin-title">
                                {{ 'Area'|trans }}
                            </div>
                            <div class="col-lg-6 admin-titledata">
                                {{ iktData['area'] }}
                            </div>

                        </div>
                        <!-- end of row -->
                        <!--row-->


                        <!-- end of row -->
                        <!--row-->

                        <div class="col-lg-6">
                            <div class="col-lg-6 admin-title">
                                {{ 'City'|trans }}
                            </div>
                            <div class="col-lg-6">
                                {#{{ iktData['city_'~app.request.get('_locale')] }}#}
                            </div>

                        </div>
                        <!-- end of row -->
                        <!--row-->
                        <div class="col-lg-6">
                            <div class="col-lg-6 admin-title">
                                {{ 'Telephone (Home)'|trans }}
                            </div>
                            <div class="col-lg-6 admin-titledata">
                                {{ iktData['tel_home'] }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="col-lg-6 admin-title">
                                {{ 'Telephone (Office)'|trans }}
                            </div>
                            <div class="col-lg-6 admin-titledata">
                                {{ iktData['tel_office'] }}
                            </div>

                        </div>
                        <!-- end of row -->
                        <!--row-->
                        <div class="col-lg-6">
                            <div class="col-lg-6 admin-title">
                                {{ 'Mobile'|trans }}
                            </div>
                            <div class="col-lg-6 admin-titledata">
                                {{ iktData['mobile'] }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="col-lg-6 admin-title">
                                {{ 'Email'|trans }}
                            </div>
                            <div class="col-lg-6 admin-titledata">
                                {{ iktData['email'] }}
                            </div>

                        </div>
                        <!-- end of row -->
                        <!--row-->
                        <div class="col-lg-6">
                            <div class="col-lg-6 admin-title">
                                {{ 'Nationality'|trans }}
                            </div>
                            <div class="col-lg-6">
                                {#{{ iktData['country_'~app.request.get('_locale')] }}#}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="col-lg-6 admin-title">
                                {{ 'Marital Status'|trans }}
                            </div>
                            <div class="col-lg-6">
                                {#{{ iktData['marital_status_'~app.request.get('_locale')] }}#}
                            </div>

                        </div>
                        <!-- end of row -->
                        <!--row-->
                        <div class="col-lg-6">
                            <div class="col-lg-6 admin-title">
                                {{ 'Birthdate'|trans }}
                            </div>
                            <div class="col-lg-6 admin-titledata">
                                {{ iktData['birthdate'] }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="col-lg-6 admin-title">
                                {{ 'Job Title'|trans }}
                            </div>
                            <div class="col-lg-6">
                                {#{{ iktData['job_'~app.request.get('_locale')] }}#}
                            </div>

                        </div>
                        <!-- end of row -->
                        <!--row-->
                        <div class="col-lg-6">
                            <div class="col-lg-6 admin-title">
                                {{ 'Balance'|trans }}
                            </div>
                            <div class="col-lg-6 admin-titledata">
                                {{ iktData['balance'] }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="col-lg-6 admin-title">
                                {{ 'Language'|trans }}
                            </div>
                            <div class="col-lg-6 admin-titledata">
                                {{ ('lang-'~'E')|trans }}
                            </div>

                        </div>
                        <!-- end of row -->
                        <!--row-->
                        <div class="col-lg-6">
                            <div class="col-lg-6 admin-title">
                                {{ 'Gender:'|trans }}
                            </div>
                            <div class="col-lg-6 admin-titledata">
                                {{ ('gender-'~iktData['gender'])|trans }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="col-lg-6 admin-title">
                                {{ 'Shoppers'|trans }}
                            </div>
                            <div class="col-lg-6 admin-titledata">
                                {{ ('pur_group-'~iktData['pur_grp'])|trans }}
                            </div>

                        </div>
                        <!-- end of row -->
                    </div>

                </div>

            </div>
                {% else %}
                    <div class="alert-danger" style="border-radius:5px; margin-top: 30px;padding: 20px; font-size: 15px; ">No data found</div>
                    {% endif %}

        </div>
    </div>
</div>
{% endblock %}